
<ion-view style="background: url(img/login-bg-acorn.png) no-repeat center;background-size:cover;" class="app-tour">
  <ion-content>

    <ion-slide-box id="slide-home" on-slide-changed="slideHasChanged($index)">
      <ion-slide>

        <div class="" style="text-align:center;margin-top:80px;">
          <p class="seg-title">Bem-vindo ao</p>
          <img src="img/logo-bg.png" alt="" style="margin-top:70px;">
          <h2 style="margin-top:0;color: #fff;font-weight:300;">SAVE<span style="font-weight:400;">CENTS</span></h2>
          <p class="" style="color: #fff;font-weight:300;font-size:20px;">Invista seus trocados</p>
        </div>

     </ion-slide>
     <ion-slide>

       <div style="text-align:center;margin-top:80px;">
         <p class="seg-title">Economia e Investimento <br>Automático</p>
         <div class="row" style="padding:0 !important;">
           <img src="img/popover-pic8.png" class="img-ajuda-seguranca" style="display:block;float:left;"/>
         </div>

         <p class="home-desc">LogoMarca é um serviço de investimento que realiza a economia e investe para você de forma automática.</p>
       </div>
    </ion-slide>
     <ion-slide>

       <div style="text-align:center;margin-top:80px;">
         <p class="seg-title">Invista o troco de suas <br>compras diariamente</p>
           <img src="img/tour-app-pic1.png" class="img-ajuda-seguranca"/>

         <p class="home-desc" style="padding:40px;">LogoMarca arredonda cada compra que você faz e investe o troco.</p>
       </div>
    </ion-slide>
     <ion-slide>

       <div style="text-align:center;margin-top:80px;">
         <p class="seg-title">Perfis de investimento<br> sob medida para você</p>
           <img src="img/tour-app-pic2.png" class="img-ajuda-seguranca"/>

         <p class="home-desc" style="padding:40px;">Cada Real é automaticamente investido em mais de 3.500 ações e títulos.</p>
       </div>
    </ion-slide>
     <ion-slide>

       <div style="text-align:center;margin-top:80px;">
         <p class="seg-title">Segurança com tecnologia bancária</p>
           <img src="img/img-lock.png" class="img-ajuda-seguranca"/>
         <p class="home-desc" style="padding:40px;">Todos os seus dados são criptografados e nunca são salvos em seu dispositivo.</p>
       </div>
    </ion-slide>
     <ion-slide>

       <div style="text-align:center;margin-top:80px;">
         <p class="seg-title">Começe a investir agora sem limites</p>
           <img src="img/tour-app-pic4.png" class="img-ajuda-seguranca"/>

         <p class="home-desc" style="padding:40px;">Sem valor mínimo para abrir uma conta. Invista a partir de R$ 5 por vez.</p>
       </div>
    </ion-slide>
     <ion-slide>

       <div style="text-align:center;" class="column">
         <p class="seg-title">Taxas simplificadas</p>
         <p class="home-desc" style="padding:40px 40px 10px;">Sem comissões sobre as transações. Sem taxas ocultas.</p>
           <img src="img/tour-app-pic5.png" class="img-ajuda-seguranca" ng-click="login()" style="padding-top: 0; margin-left: 16px; position: absolute; right: 9%;"/>
       </div>

    </ion-slide>


    </ion-slide-box>
    <div class="col" id="footer-apresentacao" style="text-align:center;">
      <a href="#"><p style="font-size:11px;color:#fff;cursor:pointer;">Pular apresentação</p></a>
    </div>

  </ion-content>
</ion-view>
