<ion-view view-title="GANHE CRÉDITOS" class="saldo" style="background: url(img/perfil-investimento-bg.png) no-repeat center;background-size:cover;">

    <div class="head-bg" style="height: 265px;padding: 60px 0 0 20px;">

        <div class="row">

          <span style="font-size:16px;color:#fff;text-align: right;margin-top: 38px;margin-right: 11px;line-height: 25px;">
            INDIQUE PARA SEUS AMIGOS E
            <b style="font-size: 26px;font-weight: 400;">GANHE CRÉDITOS</b>
          </span>

          <img src="img/bg-creditos.png" alt="">

        </div>

    </div>

          <ion-content scroll="true" class="formulario" style="bottom: 0;top: 265px !important;overflow: hidden;" ng-show="Formulario === 1">

            <div class="list estendida" style="    background: #3e99b1 !important;">

              <div class="row item"  style="padding: 13px 20px 14px 12px;margin-bottom: 0px;">

                <img ng-src="{{Contato.foto}}" style="width: 45px;height: 45px;"/>

                <div class="col-60" style="padding-left: 10px;">


                  <h3><span style="color: #fff;font-size: 20px">{{Contato.nome}}</span></h3>

                  <h2>

                    <span style="color: #8cc5cc">{{Contato.fone}}</span>

                  </h2>

                </div>

              </div>

              <div style="background: #3e99b1; text-align: center; padding: 20px;">

                <textarea>Minha dica pra investir uns trocados http://www.logomarca.com.br</textarea>

                <button class="button button-positive btn-perfil"  ng-click="recomendarEnviar()">
                  <i class="icon ion-ios-arrow-right" style="font-weight:300;"></i>
                  &nbsp;ENVIAR
                </button>

              </div>

            </div>

          </ion-content>

          <ion-content scroll="true" class="formulario" style="bottom: 0;top: 265px !important;overflow: hidden;" ng-show="Formulario === 2">

            <div class="list estendida" style="    background: #3e99b1 !important;">

              <div style="background: #3e99b1; text-align: center; padding: 20px;">

                <p>Sua recomendação foi enviada com sucesso. Você receberá os créditos após seu amigo realizar um investimento.</p>

                <button class="button button-positive btn-perfil" ng-click="recomendarEnviado()">
                  <i class="icon ion-ios-arrow-left" style="font-weight:300;"></i>
                  &nbsp;VOLTAR
                </button>

              </div>

            </div>

          </ion-content>

          <ion-content scroll="true" style="bottom: 0;top: 265px !important;overflow: hidden;" ng-show="Formulario === 0">

            <div class="list estendida" >

              <div class="row item"  ng-repeat="contato in Contatos" style="padding: 13px 20px 14px 12px;">

                <img ng-src="{{contato.foto}}" style="width: 45px;height: 45px;"/>

                <div class="col-60" style="padding-left: 10px;">


                  <h3><span style="color: #fff;font-size: 20px">{{contato.nome}}</span></h3>

                  <h2>

                    <span style="color: #8cc5cc">{{contato.fone}}</span>

                  </h2>

                </div>

                <div class="col-20">

                  <div  ng-click="recomendarAmigo($index)" style="margin-top: 0px;">

                    <img src="img/bt-plus.png" alt="">

                  </div>

                </div>

              </div>

            </div>

          </ion-content>



</ion-view>
