<ion-view view-title="OLÁ, MARCO" style="background: url(img/perfil-investimento-bg.png) no-repeat center;background-size:cover;">

  <ion-content style="background: url(img/login-bg-acorn.png) no-repeat center;background-size:cover;height:100%;">
    <div class="head-box home" >

      <div class="column"  >

        <p class="home-desc"  >
          SALDO INVESTIDO
        </p>

        <p class="home-title"  >
          <small>R$ </small>1.891<span>,98</span>
        </p>

        <p class="home-sub-lable"  >
          Últimos 30 dias
        </p>
        <p class="home-sub-value"  >
          <small>R$ </small>31<span>,28</span>
        </p>


      </div>

    </div>

    <div class="row chartbox">

      <canvas id="charthome" width="320" height="220" class="barchart home" ng-init="homeGrafico()"></canvas>

      <p>Últimos 30 dias <span>3h atrás</span></p>

    </div>


  </ion-content>
</ion-view>
