
<ion-view view-title="HOME" style="background: url(img/perfil-investimento-bg.png) no-repeat center;background-size:cover;">

  <ion-slide-box id="slide-home">
    <ion-slide>
      <div class="home-principal-div">
        <p class="home-titlex">
          Saldo pendente
        </p>
      </div>

      <div style="text-align:center;margin-top:-30px;">
        <p class="seg-title">Conta para arredondamento</p>
        <img src="img/home-slide-pic1.png" class="img-ajuda-seguranca"/>
        <p class="seg-desc">Adicione quantas contas de débito ou crédito quiser para investir seus trocados.</p>
      </div>

      <ion-footer-bar class="footer-bar-custom" style="padding-top:-100px !important;">
        <div class="col btn-home">
          <button ng-click="doQuestion3()" class="item-center button button-clear btn-cadastro">

            CONECTAR CONTA
          </button>
        </div>
      </ion-footer-bar>
   </ion-slide>
   <ion-slide>
     <div class="home-principal-div">
       <p class="home-titlex">
         Saldo pendente
       </p>
     </div>

     <div style="text-align:center;margin-top:-30px;">
       <p class="seg-title">Verificação por foto</p>
       <img src="img/home-slide-pic2.png" class="img-ajuda-seguranca"/>
       <p class="home-desc" style="padding:20px !important;">Confirme sua identidade enviando uma foto de sua carteira de identidade. Um e-mail avisará da ativação de sua conta.</p>
     </div>

     <ion-footer-bar class="footer-bar-custom" style="padding-top:-100px !important;">
       <div class="col btn-home">
         <button ng-click="doQuestion3()" class="item-center button button-clear btn-cadastro">

           VERIFICAR AGORA
         </button>
       </div>
     </ion-footer-bar>
  </ion-slide>
  <ion-slide>
    <div class="home-principal-div">
      <p class="home-titlex">
        Saldo pendente
      </p>
    </div>

    <div style="text-align:center;margin-top:-30px;">
      <p class="seg-title">Vamos começar</p>
      <img src="img/home-slide-pic3.png" class="img-ajuda-seguranca"/>
      <p class="home-desc" style="padding:20px !important;">Parabéns! Agora você pode começar a ganhar dinheiro sem fazer esforço.</p>
    </div>

    <ion-footer-bar class="footer-bar-custom" style="padding-top:-100px !important;">
      <div class="col btn-home">
        <button ng-click="doQuestion3()" class="item-center button button-clear btn-cadastro">

          FAÇA UM INVESTIMENTO
        </button>
      </div>
    </ion-footer-bar>
  </ion-slide>
   <ion-slide>
     <div class="home-principal-div">
       <p class="home-titlex">
         Saldo pendente
       </p>
     </div>

     <div style="text-align:center;margin-top:-30px;">
       <p class="seg-title">Notificações</p>
       <img src="img/home-slide-pic4.png" class="img-ajuda-seguranca"/>
       <p class="home-desc" style="padding:20px !important;">É importante estar sempre atualizado sobre seus investimentos. Ative as notificações para acompanhar seu portifólio.</p>
     </div>

     <ion-footer-bar class="footer-bar-custom">
       <div class="col btn-home">
         <button ng-click="doQuestion3()" class="item-center button button-clear btn-cadastro">

           ATIVAR NOTIFICAÇÕES
         </button>
       </div>
     </ion-footer-bar>
  </ion-slide>
   <ion-slide>

     <div class="home-principal-div">
       <div class="row home-icons">
         <img src="img/icon-ajuda.png" alt="" />
         &nbsp;&nbsp;
         <img src="img/icon-two.png" alt="" />
       </div>
       <p class="home-titlex">

         Saldo pendente

       </p>
     </div>

     <div style="text-align:center;margin-top:-30px;">
       <p class="seg-title">Precisa de ajuda?</p>
       <img src="img/home-slide-pic5.png" class="img-ajuda-seguranca"/>
       <p class="home-desc" style="padding:20px !important;">Em muitas telas você encontrará o ícone de ajuda no topo direito, clique nele para saber mais sobre os recursos a sua disposição.</p>
     </div>

     <ion-footer-bar class="footer-bar-custom">
       <div class="col btn-home">
         <button ng-click="doQuestion3()" class="item-center button button-clear btn-cadastro">

           ACESSE NOSSO SUPORTE
         </button>
       </div>
     </ion-footer-bar>
  </ion-slide>
   <ion-slide>

     <div class="home-principal-div">
       <div class="row home-icons">
         <img src="img/icon-ajuda-azul.png" alt="" style="margin-left:30px !important;"/>
       </div>
       <p class="home-titlex">

         Saldo pendente

       </p>
     </div>

     <div style="text-align:center;margin-top:10px;">
       <img src="img/home-slide-pic6.png" class="img-ajuda-seguranca"/>
       <p class="home-desc" style="padding:20px !important;">Para acumular trocados para investimentos, conecte seus cartões de crédito e débito.</p>
     </div>

     <ion-footer-bar class="footer-bar-custom">
       <div class="col btn-home">
         <button ng-click="doQuestion3()" class="item-center button button-clear btn-cadastro">

           CONECTAR AGORA
         </button>
       </div>
     </ion-footer-bar>
  </ion-slide>



  </ion-slide-box>




</ion-view>
