<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content >
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button >
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
          <a ng-click="openPopover($event,estado)"> <img src="img/icon-ajuda-azul.png" alt="" style="margin: 7px;"/></a>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
  <ion-content style="background: #fafafa;">
    <div class="menu-principal">
      <div>
        <img src="img/bg-complete-menu-green.png" alt=""/>
        <span>Complete agora</span>
      </div>
      <div class="menu-principal-perfil">
        <p>
          <span>65</span><span>%</span>
        </p>
        <p>
          <span id="perfil-respondido">PERFIL RESPONDIDO</span>
        </p>
        <p style="padding-bottom:20px;padding-top:15px;">
            <span id="perfil-email">marco@gmail.com <i class="icon ion-ios-arrow-down"></i></span>
        </p>
      </div>
    </div>

    <div class="menu-box">
        <ul>
          <li><a class="link-menu-style" menu-close ng-click="login()"><img src="img/img-circle.png" alt="" /> &nbsp; &nbsp; Login</a></li>
          <li class="topo-menu-altura"><a class="link-menu-style" menu-close href="#/app-tour"><img src="img/img-circle.png" alt=""/>  &nbsp; &nbsp;Apresentação</a></li>
          <li class="topo-menu-altura"><a class="link-menu-style" menu-close href="#/app/home"><img src="img/img-circle.png" alt=""/>  &nbsp; &nbsp;Home</a></li>
          <li class="topo-menu-altura"><a class="link-menu-style" menu-close href="#/app/performance"><img src="img/img-circle.png" alt="" />  &nbsp; &nbsp;Performance</a></li>
          <li class="topo-menu-altura"><a class="link-menu-style" menu-close href="#/app/historico"><img src="img/img-circle.png" alt="" />  &nbsp; &nbsp;Histórico</a></li>
          <li class="topo-menu-altura"><a class="link-menu-style" menu-close href="#/app/movimentar-saldo"><img src="img/img-circle.png" alt="" />  &nbsp; &nbsp;Saque/Depósito</a></li>
          <li class="topo-menu-altura"><a class="link-menu-style" menu-close href="#/app/ver-saldo"><img src="img/img-circle.png" alt="" />  &nbsp; &nbsp;Ver saldo</a></li>
          <li class="topo-menu-altura"><a class="link-menu-style" menu-close href="#/app/conf"><img src="img/img-circle.png" alt="" />  &nbsp; &nbsp;Configurações</a></li>
          <li class="topo-menu-altura"><a class="link-menu-style" menu-close href="#/app/ajuda"><img src="img/img-circle.png" alt="" />  &nbsp; &nbsp;Ajuda</a></li>
          <li class="topo-menu-altura"><a class="link-menu-style" menu-close href="#/app/legal"><img src="img/img-circle.png" alt="" />  &nbsp; &nbsp;Legal</a></li>
          <li class="topo-menu-altura"><a class="link-menu-style" href="#"><img src="img/img-circle.png" alt="" />  &nbsp; &nbsp;Sair</a></li>
        </ul>
    </div>


  </ion-content>
  </ion-side-menu>
</ion-side-menus>
