<ion-view view-title="SAQUE/DEPÓSITO" style="background: url(img/perfil-investimento-bg.png) no-repeat center;background-size:cover;" class="saldo">
<div style="padding: 15px 15px 20px; margin-bottom: 20px;"  class="head-bg" >
 <div class="row" style="margin-top:30px;">
  <span style="font-size:13px;color:#b0d4ed;padding-top:20px;">INVESTIDO &nbsp;R$ &nbsp;&nbsp;</span><span style=""><h3 style="font-weight: 300;color:#fff;font-size:37px;">{{Investido}}</h3></span>
</div>
<div class="row" style="background-color: #7aaed2;padding:10px 10px 0;">
  <span style="font-size:13px;color: #fff;text-align: right;font-weight: 100;padding-top: 4px;padding-left: 4px;">VALOR A<br>MOVIMENTAR</span> <span style="font-size:18px;color:#fff;padding-left:10px;"><h3 style="font-weight: 300;color: #fff;"><span style="font-size:25px;">R$</span> <span style="font-size:40px;" >{{Valor}}</span></h3></span>
</div>
</div>

  <div ng-show="movimento === 0" class="teclado">

      <div class = "row" style="text-align:center;">
        <div class="col"><button class="button btn-ellipse" ng-click="clicaTeclado(1)">1</button></div>
        <div class="col"><button class="button btn-ellipse" ng-click="clicaTeclado(2)">2</button></div>
        <div class="col"><button class="button btn-ellipse" ng-click="clicaTeclado(3)">3</button></div>
      </div>
      <div class = "row" style="text-align:center;">
        <div class="col"><button class="button btn-ellipse" ng-click="clicaTeclado(4)">4</button></div>
        <div class="col"><button class="button btn-ellipse" ng-click="clicaTeclado(5)">5</button></div>
        <div class="col"><button class="button btn-ellipse" ng-click="clicaTeclado(6)">6</button></div>
      </div>
      <div class = "row" style="text-align:center;">
        <div class="col"><button class="button btn-ellipse" ng-click="clicaTeclado(7)">7</button></div>
        <div class="col"><button class="button btn-ellipse" ng-click="clicaTeclado(8)">8</button></div>
        <div class="col"><button class="button btn-ellipse" ng-click="clicaTeclado(9)">9</button></div>
      </div>
      <div class = "row" style="text-align:center;">
        <div class="col"><button class="button btn-ellipse" ng-click="limpaTeclado()"><span class="tecladospan">C</span></button></div>
        <div class="col"><button class="button btn-ellipse" ng-click="clicaTeclado(0)">0</button></div>
        <div class="col"><button class="button btn-ellipse" ng-click="delTeclado()"><span class="tecladospan"><</span></button></div>
      </div>

    <div class="row" style="text-align:center;margin-top:20px;">
      <div class="col col-50">
        <button class="button button-positive btn-perfil baixo" ng-click="movimentar(1)" style="left: 20px;">
          <i class="icon ion-ios-arrow-down" style="font-weight:300;"></i>
          &nbsp;Sacar
        </button>
      </div>
      <div class="col col-50">
        <button class="button button-positive btn-perfil baixo" ng-click="movimentar(2)" style="right: 20px;">
          <i class="icon ion-ios-arrow-up" style="font-weight:300;"></i>
          &nbsp;Depositar
        </button></div>
    </div>

  </div>

  <div ng-show="movimento === 1" class="movimento">

    <h3>Saque programado. A venda das ações pode levar até 3 dias. Vcoê será avisado quando seu crédito for liberado para sua conta.</h3>

    <button class="button button-positive btn-perfil" ng-click="movimentar(0)">
      <i class="icon ion-ios-arrow-left" style="font-weight:300;"></i>
      &nbsp;Voltar
    </button>

  </div>

  <div ng-show="movimento === 2" class="movimento">

    <h3>Seu depósito de créditos foi realizado.</h3>

    <button class="button button-positive btn-perfil" ng-click="movimentar(0)">
      <i class="icon ion-ios-arrow-left" style="font-weight:300;"></i>
      &nbsp;Voltar
    </button>

  </div>

  </ion-view >
