<ion-view view-title="PERFIL DE INVESTIMENTO" style="background: url(img/perfil-investimento-bg.png) no-repeat center;background-size:cover;">


  <div class="home-principal-div">
    <p class="home-titlex">
      Saldo pendente
    </p>
  </div>

  <div style="text-align:center;margin-top:30px;">
    <img src="img/perfil-vazio.png" class="img-ajuda-seguranca"/>
    <br>
    <br>
    <p class="seg-desc">Sua conta está conectada, mas você não começou a investir ainda. Faça seu primeiro investimento e acompanhe por aqui suas transações.</p>
  </div>

  <ion-footer-bar class="footer-bar-custom" style="padding-top:-100px !important;">
    <div class="col btn-home">
      <button ng-click="doQuestion3()" class="item-center button button-clear btn-cadastro">

        FAÇA UM INVESTIMENTO
      </button>
    </div>
  </ion-footer-bar>
</ion-view>
