
<ion-view view-title="PERFIL DE INVESTIMENTO" style="background: url(img/perfil-investimento-bg.png) no-repeat center;background-size:cover;">

      <div class="head-box" >

        <div class="column perfil"  >

          <img ng-src="img/perfil-bg.png" alt="" />

          <p class="perfil-tit"  >
            <img ng-src="img/bt-arrow-left.png" alt="" />
            {{perfil.nome}}
            <img ng-src="img/bt-arrow-right.png" alt="" />
          </p>
          <p class="perfil-desc"  >
            {{perfil.desc}}
          </p>

        </div>

      </div>

  <ion-slide-box>
    <ion-slide>

      <div class="column pie">

        <canvas id="chartpieperfil" width="270" height="100" class="barchart" ng-init="perfilGraficoPie()"></canvas>

        <div class="acoes">
          <div>
            <span class="verde"><b></b> {{perfil.acoes.grandesCias}}% </span>Ações de Grandes Companias
          </div>
          <div>
            <span class="musgo"><b></b> {{perfil.acoes.pequenasCias}}% </span>Ações de Pequenas Companias
          </div>
          <div>
            <span class="violeta"><b></b> {{perfil.acoes.emergente}}% </span>Ações de Mercado Emergente
          </div>
          <div>
            <span class="azul"><b></b> {{perfil.acoes.imobilario}}% </span>Ações de Mercado Imobiliário
          </div>
          <div>
            <span class="laranja"><b></b> {{perfil.acoes.corp}}% </span>Dívidas Corporativas
          </div>
          <div>
            <span class="vermelho"><b></b> {{perfil.acoes.gov}}%  </span>Dívidas Públicas
          </div>
        </div>

      </div>

    </ion-slide>
    <ion-slide>


      <div class="column box-grafico"  >

        <div class="row">

          <label class="item col-20">
            <span>Idade</span>
            <input type="text" class="input-style" ng-model="idade">
          </label>

          <label class="item col-50">
            <span>Valor Projetado</span>
            <input type="text" class="input-style"  ng-model="valor |  currency : 'R$ '  ">
          </label>

          <label class="item col-30">
            <span>Mensal</span>
            <input type="text" class="input-style"  ng-model="mensal |  currency : 'R$ '">
          </label>

        </div>

        <div class="row">

          <canvas id="chartlineperfil" width="270" height="100" class="barchart" ng-init="perfilGrafico()"></canvas>

        </div>

        <p class="obs">*Desempenho passado não é garantia de retorno futuro</p>

      </div>

   </ion-slide>

  </ion-slide-box>

  <div style="text-align:center;margin:15px;">
    <button  class="button button-block btn-cadastro">
      <i class="icon ion-ios-checkmark-empty" style="font-size:30px;"></i>
    &nbsp;
    ESCOLHER ESTE PERFIL
  </button>
</div>

</ion-view>
