<style media="screen">
  p {
    margin: 0 0 0px;
  }
</style>
<ion-popover-view  class="popover-style">
  <div style="z-index: 1;margin-top:-23px;">
      <img ng-show="$root.user.app.notificacao && ['app.perfil','app.historico', 'app.ver-saldo', 'app.performance', 'app.movimentar-saldo'].indexOf($root.user.app.estado)!=-1"  src="img/popover-arrow.png" alt="" style="position:absolute;left:81%;display:block;"/>
      <img ng-hide="$root.user.app.notificacao && ['app.perfil','app.historico', 'app.ver-saldo', 'app.performance', 'app.movimentar-saldo'].indexOf($root.user.app.estado)!=-1"  src="img/popover-arrow.png" alt="" style="position:absolute;left:91%;display:block;"/>
  </div>

  <!-- NOTIFICACAO -->
  <div ng-show="$root.user.app.notificacao" id="tour-notificacao">

    <div ng-repeat="notificacao in $root.user.app.notificacoes" style="margin-top: 80px;">

        <div style="text-align:center;">

          <p class="seg-desc" style="margin-top:-80px;">{{notificacao.text}}</p>

        </div>

        <div class="col btn-home" style="margin-top: -23px;padding-bottom: 0;">

          <button ng-click="goNotification(notificacao.link)" class="item-center button button-clear btn-popover">
            {{notificacao.label}}
          </button>

        </div>

    </div>

  </div>

  <!-- TOUR SALDO -->
  <div ng-show="$root.user.app.estado === 'app.ver-saldo' && $root.user.app.notificacao === false" id="tour-saldo">

    <ion-slide-box id="slide-popover" class="popover-slide-box" style="">

      <ion-slide>

        <div style="text-align:center;margin-top:-20px;">

          <p class="seg-title">O seu saldo</p>
          <img src="img/popover-pic1.png" class="" style="padding-top:20px;"/>
          <p class="seg-desc" style="margin-top:-80px;">A tela de saldo mostra todas as compras e arredondamentos das suas contas conectadas.</p>
        </div>

        <div class="col btn-home" style="margin-top:15px;">
          <button ng-click="popover.hide()" class="item-center button button-clear btn-popover">ENTENDI</button>
        </div>

      </ion-slide>
      <ion-slide>
        <div style="text-align:center;margin-top:-20px;">
          <p class="seg-title">Conecte uma conta de arredondamento</p>
          <img src="img/popover-pic2.png" class="" style="padding-top:20px;"/>
          <p class="seg-desc">Para acumular trocados para investimentos, conecte seus cartões de crédito e débito.</p>
        </div>

        <div class="col btn-home" style="margin-top:30px;">
          <button ng-click="goNotification('app.conta-bancaria')" class="item-center button button-clear btn-popover">CONECTAR CONTA</button>
        </div>

      </ion-slide>
      <ion-slide>
        <div style="text-align:center;margin-top:-20px;">
          <p class="seg-title">Como funciona o arredondamento</p>
          <img src="img/popover-pic3.png" class="" style="padding-top:20px;"/>
          <p class="seg-desc">Quando você faz uma compra usando uma conta conectada, o troco do arredondamento é investido automaticamente.</p>
        </div>

        <div class="col btn-home" style="margin-top:5px;">
          <button ng-click="goNotification('app.conta-bancaria')" class="item-center button button-clear btn-popover">VEJA COMO FUNCIONA</button>
        </div>

      </ion-slide>
    </ion-slide-box>
  </div>

  <!-- TOUR MOVIMENTAR SALDO -->
  <div ng-show="$root.user.app.estado === 'app.movimentar-saldo' && $root.user.app.notificacao === false">

    <ion-slide-box id="slide-popover" class="popover-slide-box" style="">

      <ion-slide>

        <div style="text-align:center;margin-top:-30px;">

          <p class="seg-title">Transferindo crédito</p>
          <img src="img/popover-pic3.png" class="" style="padding-top:20px;"/>
          <p class="seg-desc" style="margin-top:-40px;">Deposite ou saque dinheiro a qualquer momento. Investimentos são concluidos entre 1 e 3 dias úteis, como precisamos vender suas ações, retiradas levam de 5 a 7 dias úteis para serem realizadas.</p>
        </div>

        <div class="col btn-home" style="margin-top:-15px;">
          <button ng-click="goNotification('app.conta-bancaria')" class="item-center button button-clear btn-popover">VEJA COMO FUNCIONA</button>
        </div>

      </ion-slide>
      <ion-slide>
        <div style="text-align:center;margin-top:-20px;">
          <p class="seg-title">Investimentos programados</p>
          <img src="img/popover-slide-pic7.png" class="" style="padding-top:20px;"/>
          <p class="seg-desc">Programar investimentos recorrentes é uma ótima forma de acelerar o crescimento de sua renda.</p>
        </div>

        <div class="col btn-home" style="margin-top:5px;">
          <button ng-click="goNotification('app.investimento-programado')" class="item-center button button-clear btn-popover">PROGRAME UM INVESTIMENTO</button>
        </div>

      </ion-slide>
    </div>

  <!-- TOUR HISTORICO -->
  <div ng-show="$root.user.app.estado === 'app.historico' && $root.user.app.notificacao === false">

      <ion-slide-box id="slide-popover" class="popover-slide-box" style="">

        <ion-slide>

          <div style="text-align:center;margin-top:-20px;">

            <p class="seg-title">Seus investimentos</p>
            <img src="img/popover-pic8.png" style="padding-top:10px;"/>
            <p class="seg-desc" style="margin-top:-40px;line-height:">Esta é a quantia de dinheiro que você investiu, menos o valor sacado.</p>
          </div>

            <div class="col btn-home" style="margin-top:10px;">
              <button ng-click="popover.hide()" class="item-center button button-clear btn-popover" style="margin-top: -28px;">ENTENDI</button>
            </div>

       </ion-slide>
        <ion-slide>
          <div style="text-align:center;margin-top:-20px;">
            <p class="seg-title">Dividendos</p>
            <img src="img/popover-pic9.png" style="padding-top:10px;"/>
            <p class="seg-desc">São uma porção dos lucros da empresa paga pra você que possue ações. Nós reinventamos automaticamente seus dividendos, para que continuem gerando ganhos para você.</p>
          </div>

            <div class="col btn-home" style="margin-top: 18px;">
              <button ng-click="popover.hide()" class="item-center button button-clear btn-popover">ENTENDI</button>
            </div>

       </ion-slide>
        <ion-slide>
          <div style="text-align:center;margin-top:-20px;">
            <p class="seg-title">Lucro/perda</p>
            <img src="img/popover-pic10.png" class="" style="padding-top:20px;"/>
            <p class="seg-desc" style="padding:25px !important;">Você pode visualizar a performance de seus investimentos através dos sinais dos lucro e perda. O número que você vê é igual ao lucro(ou perda), menos dividendos, menos nossa pequena taxa.</p>
          </div>

            <div class="col btn-home" style="margin-top:3px;">
              <button ng-click="goNotification('app.performance')" class="item-center button button-clear btn-popover">VER PERFORMANCE DETALHADA</button>
            </div>

       </ion-slide>
        <ion-slide>
          <div style="text-align:center;margin-top:-20px;">
            <p class="seg-title">Transferindo crédito</p>
            <img src="img/popover-pic3.png" class="" style="padding-top:20px;"/>
            <p class="seg-desc" style="padding:20px !important;">Deposite ou saque dinheiro a qualquer momento. Investimentos são concluidos entre 1 e 3 dias úteis, como precisamos vender suas ações, retiradas levam de 5 a 7 dias úteis para serem realizadas.</p>
          </div>

            <div class="col btn-home" style="margin-top:15px;">
              <button ng-click="goNotification('app.investimento-programado')" class="item-center button button-clear btn-popover">VEJA COMO FUNCIONA</button>
            </div>

       </ion-slide>
        <!--<ion-slide>
          <div style="text-align:center;margin-top:-20px;">
            <p class="seg-title">Cancelando um <br>investimento</p>
            <img src="img/popover-slide11.png" class="" style="padding-top:40px;"/>
            <p class="seg-desc" style="padding:20px !important;">Quando você vê uma transação pendente com este ícone, você pode deslizar o item para a esquerda com o dedo e clicar em cancelar.</p>
          </div>

            <div class="col btn-home" style="margin-top:28px;">
              <button ng-click="popover.hide()" class="item-center button button-clear btn-popover">ENTENDI</button>
            </div>

       </ion-slide>-->
        <ion-slide>
          <div style="text-align:center;margin-top:-20px;">
            <p class="seg-title">Declarações e <br>confirmações</p>
            <img src="img/popover-pic12.png" class="" style="padding-top:20px;"/>
            <p class="seg-desc" style="padding:20px !important;">Encontre declarações detalhadas de contas e confirmações de transições em logomarca.com.br/declaracoes.</p>
          </div>

            <div class="col btn-home" style="margin-top:25px;">
              <button ng-click="goNotification('app.investimento-programado')" class="item-center button button-clear btn-popover">VISITA AGORA</button>
            </div>

       </ion-slide>

  </div>

  <!-- TOUR PERFIL  -->
  <div ng-show="$root.user.app.estado === 'app.perfil' && $root.user.app.notificacao === false">

      <ion-slide-box id="slide-popover" class="popover-slide-box" style="">

        <ion-slide>

          <div style="text-align:center;margin-top:-20px;">

            <p class="seg-title">Perfil Financeiro</p>
            <p class="seg-desc" style="padding:20px !important;margin-top:10px;line-height:1">Seu perfil recomendado é <span style="font-weight:bold">Convervador/Moderado</span> e foi calculado com base no seu perfil.</p>
            <p class="seg-desc" style="padding:20px !important;line-height:1;">Estes gráficos projetam seus investimentos ao longo do tempo, e não garantem futuros retornos e já estão inclusas as taxas.<br>Investimentos envolvem riscos, e os retornos para investimentos de curto prazo podem render prejuízos.</p>
          </div>

            <div class="col btn-home">
              <button ng-click="goNotification('app.dados-usuario')" class="item-center button button-clear btn-popover" style="margin-top:71px !important;">ATUALIZAR PERFIL FINANCEIRO</button>
            </div>

       </ion-slide>
        <ion-slide>

          <div style="text-align:center;margin-top:-20px;">

            <p class="seg-title">Projeção de investimentos</p>
            <img src="img/popover-video.png" class="" style="padding-top:20px;"/>

          </div>

            <div class="col btn-home">
              <button ng-click="goNotification('app.dados-usuario')" class="item-center button button-clear btn-popover" style="margin-top:80px !important;">VER VIDEO</button>
            </div>

       </ion-slide>
        <ion-slide>

          <div style="text-align:center;margin-top:-20px;">

            <p class="seg-title">Diversificação de investimentos</p>
            <img src="img/popover-video.png" class="" style="padding-top:20px;"/>

          </div>

            <div class="col btn-home">
              <button ng-click="goNotification('app.dados-usuario')" class="item-center button button-clear btn-popover" style="margin-top:80px !important;">VER VIDEO</button>
            </div>

       </ion-slide>

       <ion-slide>

         <div style="text-align:center;margin-top:-20px;">

           <p class="seg-title">Explore os ETFs</p>
           <img src="img/popover-video.png" class="" style="padding-top:20px;"/>

         </div>

           <div class="col btn-home">
             <button ng-click="goNotification('app.dados-usuario')" class="item-center button button-clear btn-popover" style="margin-top:105px !important;">VER VIDEO</button>
           </div>

      </ion-slide>
     </ion-slide-box>
  </div>

  <!-- TOUR PERFORMANCE -->
  <div ng-show="$root.user.app.estado === 'app.performance' && $root.user.app.notificacao === false">

      <ion-slide-box id="slide-popover" class="popover-slide-box" style="">

        <ion-slide>

          <div style="text-align:center;margin-top:-20px;">

            <p class="seg-title">O Gráfico</p>
            <img src="img/popover-pic13.png" class=""/>
            <p class="seg-desc" style="padding:20px !important;line-height:1;margin-top: -10px;">Nesta tela você acompanha a performance do seu portfólio. <br>Na parte inferior você pode mudar a escala de tempo, e tocando sobre o gráfico você terá mais detalhes.</p>

          </div>

            <div class="col btn-home" style="margin-top: -25px;">
              <button ng-click="popover.hide()" class="item-center button button-clear btn-popover" style="margin-top:30px;">ENTENDI</button>
            </div>

       </ion-slide>

       <ion-slide>
         <div style="text-align:center;margin-top:-20px;">
           <p class="seg-title">Lucro/perda</p>
           <img src="img/popover-pic10.png" class="" style="padding-top:20px;"/>
           <p class="seg-desc" style="padding:25px !important;">Você pode visualizar a performance de seus investimentos através dos sinais dos lucro e perda. O número que você vê é igual ao lucro(ou perda), menos dividendos, menos nossa pequena taxa.</p>
         </div>

           <div class="col btn-home" style="margin-top:5px;">
             <button ng-click="goNotification('app.performance')" class="item-center button button-clear btn-popover">VER PERFORMANCE DETALHADA</button>
           </div>

      </ion-slide>
       <ion-slide>
         <div style="text-align:center;margin-top:-20px;">
           <p class="seg-title">O que é um portfólio</p>
           <img src="img/popover-pic14.png" class="" style="padding-top:15px;"/>
           <p class="seg-desc" style="padding:10px !important;margin-top: -20px;">É a combinação de ações e títulos.<br>Os 5 perfis de investimento que disponibilizamos buscam maximizar seu retorno para o seu nível de risco.</p>
         </div>

           <div class="col btn-home">
             <button ng-click="popover.hide()" class="item-center button button-clear btn-popover" style="margin-top:30px;">ENTENDI</button>
           </div>

      </ion-slide>
       <ion-slide>
         <div style="text-align:center;margin-top:-20px;">
           <p class="seg-title">Seu portfólio</p>
           <img src="img/popover-pic15.png" class="" style="padding-top:35px;"/>
           <p class="seg-desc" style="padding:20px !important;margin-top: -5px;">Acesse as suas configurações para saber mais sobre seu perfil e ajustar a combinação de seus investimentos.</p>
         </div>

           <div class="col btn-home">
             <button ng-click="goNotification('app.configuracoes')" class="item-center button button-clear btn-popover" style="margin-top:55px;">VER CONFIGURAÇÕES</button>
           </div>

      </ion-slide>


     </ion-slide-box>
  </div>

  </ion-popover-view>
