<ion-popover-view>
  <ion-content>
    <div class="list">
      <p ng-click="mudaUF('AC')">AC</p>
      <p ng-click="mudaUF('AL')">AL</p>
      <p ng-click="mudaUF('AM')">AM</p>
      <p ng-click="mudaUF('BA')">BA</p>
      <p ng-click="mudaUF('CE')">CE</p>
      <p ng-click="mudaUF('DF')">DF</p>
      <p ng-click="mudaUF('ES')">ES</p>
      <p ng-click="mudaUF('GO')">GO</p>
      <p ng-click="mudaUF('MA')">MA</p>
      <p ng-click="mudaUF('MG')">MG</p>
      <p ng-click="mudaUF('MS')">MS</p>
      <p ng-click="mudaUF('MT')">MT</p>
      <p ng-click="mudaUF('PA')">PA</p>
      <p ng-click="mudaUF('PB')">PB</p>
      <p ng-click="mudaUF('PE')">PE</p>
      <p ng-click="mudaUF('PI')">PI</p>
      <p ng-click="mudaUF('PR')">PR</p>
      <p ng-click="mudaUF('RJ')">RJ</p>
      <p ng-click="mudaUF('RN')">RN</p>
      <p ng-click="mudaUF('RO')">RO</p>
      <p ng-click="mudaUF('RR')">RR</p>
      <p ng-click="mudaUF('RS')">RS</p>
      <p ng-click="mudaUF('SC')">SC</p>
      <p ng-click="mudaUF('SE')">SE</p>
      <p ng-click="mudaUF('SP')">SP</p>
      <p ng-click="mudaUF('TO')">TO</p>
    </div>
  </ion-content>
</ion-popover-view>
