
<ion-view view-title="SALDO" style="background: url(img/perfil-investimento-bg.png) no-repeat center;background-size:cover;">
    <div style="margin-left:15px;margin-right:15px;">
       <div class="row" style="margin-top:60px;">
      <span style="font-size:16px;color:#79aad0;padding-top:20px;">INVESTIDO &nbsp;R$ &nbsp;&nbsp;</span><span style=""><h3 style="font-weight: 300;color:#fff;font-size:37px;">1.325,14</h3></span>
    </div>
    <div class="row">
      <span style="font-size:16px;color:#79aad0;">CICLO ATUAL</span>
    </div>  
    <div class="row" style="margin-top:5px;background-color: #7aaed2;height:65px;padding:10px;padding-left:30px;">
     <h3 style="margin-top: -8px;font-weight:300;color:#fff;font-size:21px">R$ <span style="font-size:45px;"> 2</span>,98 / R$ 5,00</h3>
    </div>
    </div>

    <div style="text-align:center;padding-top:5px;margin-left:15px;margin-right:15px;"> 
      <button ion-button icon-left class="button btn-perfil button-block">
         <i class="icon ion-ios-plus-empty"></i>
    &nbsp;
      INVESTIR ESTE CRÉDITO AGORA
      </button>
    </div>

      <ion-tabs class="tabs-dark tabs-icon-top" id="tabsController-tabs1">
        <ion-tab title="Tudo" icon="No Icon" href="#" id="tabsController-tab1">
          hhiuhuhuhuihuihiuhuihihiuhuiuhi
        </ion-tab>
        <ion-tab title="Aprovados" icon="No Icon" href="#" id="tabsController-tab5">
            <ion-nav-view name="tab5"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Pendentes" icon="No Icon" href="#" id="tabsController-tab2">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
    <div class="list" style="margin-top:100px;">

      <div class="row item" style="background-color: #3e99b1 !important;color: #fff;height:auto;border:none;padding:20px;">
        <div class="col-80">
          <h3 style="font-weight:300;color:#fff;"><span style="font-size:30px;color: #60c750;">+</span>&nbsp; <span style="color: #8cc5cc;">R$</span>&nbsp; <span style="font-size:30px;">0</span>,36</h3>
          <h3 style="font-weight:300;color:#fff;font-size:12px;"><span style="color: #8cc5cc">14/07/2016</span> R$4,46 Starbucks</h3>
        </div>
       <a href=""><div class="col-20">
          <div style="width:46px;height:46px;background-color: #5cb1b5;border-radius:50%;"><img src="img/arrow.png" alt="" style="position:relative;left:20px;top:13px"></div>
        </div></a> 
      </div>      <div class="row item" style="background-color: #3e99b1 !important;color: #fff;height:auto;border:none;padding:20px;">
        <div class="col-80">
          <h3 style="font-weight:300;color:#fff;"><span style="font-size:30px;color: #60c750;">+</span>&nbsp; <span style="color: #8cc5cc;">R$</span>&nbsp; <span style="font-size:30px;">0</span>,68</h3>
          <h3 style="font-weight:300;color:#fff;font-size:12px;"><span style="color: #8cc5cc">14/07/2016</span> R$55,32 Mercado Extra</h3>
        </div>
       <a href=""><div class="col-20">
          <div style="width:46px;height:46px;background-color: #5cb1b5;border-radius:50%;"><img src="img/arrow.png" alt="" style="position:relative;left:20px;top:13px"></div>
        </div></a> 
      </div>

    </div>



</ion-view>
