<ion-view view-title="SALDO" class="saldo historico" style="background: url(img/perfil-investimento-bg.png) no-repeat center;background-size:cover;" >


    <div class="head-bg" style="padding:15px 15px 40px;">
       <div class="row" style="margin-top:30px;">
          <span style="font-size:16px;color:#79aad0;padding-top:20px;">INVESTIDO &nbsp;R$ &nbsp;&nbsp;</span><span style=""><h3 style="font-weight: 300;color:#fff;font-size:37px;">{{$root.user.app.saldo}}</h3></span>
        </div>
        <div class="row">
          <span style="font-size:16px;color:#79aad0;">CICLO ATUAL </span>
        </div>
        <div class="meta">
          <div class="row percentual" ng-style="{ 'width' : Percent}"></div>
          <h3>R$ <span style="font-size:45px;"> {{Valor}}</span> / R$ {{Meta}}</h3>
        </div>

      <div style="text-align:center;"  ng-show="movimento === 0 && Valor != '0' " >
        <button ng-click="movimentar(1)" ion-button icon-left class="button btn-perfil button-block">
          <i class="icon ion-ios-plus-empty"></i>          &nbsp;          INVESTIR ESTE CRÉDITO AGORA
        </button>
      </div>

      <div ng-show="movimento === 1" class="movimento" style="margin: 20px -15px -40px;">

        <h3>Seu depósito de créditos foi realizado.</h3>
        <p>Valor R$ <span>{{Deposito}}</span></p>

        <button class="button button-positive btn-perfil" ng-click="movimentar(0)">
          <i class="icon ion-ios-arrow-left" style="font-weight:300;"></i>
          &nbsp;Voltar
        </button>

      </div>
    </div>

      <ion-tabs class="tabs-dark tabs-icon-top" id="tabsController-tabs1"  ng-show="movimento === 0">

        <ion-tab title="Tudo" icon="No Icon" id="tabsController-tab1">

          <ion-content scroll="true" style="bottom: 0;top: 297px !important;">

            <div class="list estendida" >

              <div class="row item"  ng-repeat="item in Saldo" ng-class="item.status === 1 ? 'concluido' : '' ">

                <div class="col-80">

                  <h3>

                    <span ng-class="item.signal === '-' ? 'negativo' : '' ">{{item.signal}}</span>

                    &nbsp; <span>R$</span>

                    &nbsp; <span>{{item.value}}</span>

                  </h3>

                  <h2>

                    <span style="color: #8cc5cc">{{item.date | date: 'dd/MM/yyyy'}}</span> {{item.label}}

                  </h2>

                </div>

                <div class="col-20">

                  <div ng-hide="item.status === 1" ng-click="aprovarInvestimento($index)">

                    <img src="img/bt-plus.png" alt="">

                  </div>

                  <div ng-show="item.status === 1">

                    <img src="img/bt-check.png" alt="">

                  </div>

                </div>

              </div>

            </div>

          </ion-content>


        </ion-tab>

        <ion-tab title="Aprovados" icon="No Icon" id="tabsController-tab5">

          <ion-content scroll="true" style="bottom: 0;top: 297px !important;overflow: hidden;">

              <div class="list estendida" >

                <div class="row item"  ng-repeat="item in Saldo" ng-if="item.status === 1" ng-class="item.status === 1 ? 'concluido' : '' ">

                  <div class="col-80">

                    <h3>

                      <span ng-class="item.signal === '-' ? 'negativo' : '' ">{{item.signal}}</span>

                      &nbsp; <span>R$</span>

                      &nbsp; <span>{{item.value}}</span>

                    </h3>

                    <h2>

                      <span style="color: #8cc5cc">{{item.date | date: 'dd/MM/yyyy'}}</span> {{item.label}}

                    </h2>

                  </div>

                  <div class="col-20">

                    <div ng-hide="item.status === 1" ng-click="aprovarInvestimento($index)">

                      <img src="img/bt-plus.png" alt="">

                    </div>

                    <div ng-show="item.status === 1">

                      <img src="img/bt-check.png" alt="">

                    </div>

                  </div>

                </div>

              </div>

            </ion-content>

        </ion-tab>

        <ion-tab title="Pendentes" icon="No Icon" id="tabsController-tab2">

          <ion-content scroll="true" style="bottom: 0;top: 297px !important;overflow: hidden;">

              <div class="list estendida" >

                <div class="row item"  ng-repeat="item in Saldo" ng-if="item.status === 0" ng-class="item.status === 1 ? 'concluido' : '' ">

                  <div class="col-80">

                    <h3>

                      <span ng-class="item.signal === '-' ? 'negativo' : '' ">{{item.signal}}</span>

                      &nbsp; <span>R$</span>

                      &nbsp; <span>{{item.value}}</span>

                    </h3>

                    <h2>

                      <span style="color: #8cc5cc">{{item.date | date: 'dd/MM/yyyy'}}</span> {{item.label}}

                    </h2>

                  </div>

                  <div class="col-20">

                    <div ng-hide="item.status === 1" ng-click="aprovarInvestimento($index)">

                      <img src="img/bt-plus.png" alt="">

                    </div>

                    <div ng-show="item.status === 1">

                      <img src="img/bt-check.png" alt="">

                    </div>

                  </div>

                </div>

              </div>

            </ion-content>

        </ion-tab>

    </ion-tabs>



</ion-view>
