<ion-view view-title="SALDO" class="saldo" style="background: url(img/perfil-investimento-bg.png) no-repeat center;background-size:cover;">


    <div class="head-bg" style="padding:15px 15px 40px;">
       <div class="row" style="margin-top:30px;">
          <span style="font-size:16px;color:#79aad0;padding-top:20px;">INVESTIDO &nbsp;R$ &nbsp;&nbsp;</span><span style=""><h3 style="font-weight: 300;color:#fff;font-size:37px;">1.325,14</h3></span>
        </div>
        <div class="row">
          <span style="font-size:16px;color:#79aad0;">CICLO ATUAL </span>
        </div>
        <div style="margin-top:5px;background-color: #7aaed2;height:65px;">
          <div class="row" style="background-color: rgba(250, 250, 250, 0.3);height:65px;position: absolute;width: 40%;"></div>
          <h3 style="margin-top: -8px;font-weight:300;color:#fff;font-size:21px;padding:3px 0px;padding-left:10px;">R$ <span style="font-size:45px;"> 2</span>,98 / R$ 5,00</h3>
        </div>
      <div style="text-align:center;">
        <button ng-click="openPopover($event)" ion-button icon-left class="button btn-perfil button-block">
          <i class="icon ion-ios-plus-empty"></i>          &nbsp;          INVESTIR ESTE CRÉDITO AGORA
        </button>
      </div>
    </div>

      <ion-tabs class="tabs-dark tabs-icon-top" id="tabsController-tabs1">
        <ion-tab title="Tudo" icon="No Icon" id="tabsController-tab1">

          <div class="list" style="margin-top:40px;">

            <div class="row item" style="background-color: #3e99b1 !important;color: #fff;height:auto;border:none;padding:20px;" ng-repeat="item in Saldo">
              <div class="col-80">
                <h3 style="font-weight:300;color:#fff;"><span style="font-size:30px;color: #60c750;">{{item.signal}}</span>&nbsp; <span style="color: #8cc5cc;">R$</span>&nbsp; <span style="font-size:30px;">{{item.value}}</span></h3>
                <h3 style="font-weight:300;color:#fff;font-size:12px;"><span style="color: #8cc5cc">{{item.date}}</span> {{item.label}}</h3>
              </div>
             <a href=""><div class="col-20">
                <div style="width:46px;height:46px;background-color: #5cb1b5;border-radius:50%;"><img src="img/arrow.png" alt="" style="position:relative;left:20px;top:13px"></div>
              </div></a>
            </div>

          </div>

        </ion-tab>
        <ion-tab title="Aprovados" icon="No Icon" id="tabsController-tab5">
            <ion-nav-view name="tab5"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Pendentes" icon="No Icon" id="tabsController-tab2">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
    </ion-tabs>



</ion-view>
