<ion-view view-title="FAQ" style="background: url(img/perfil-investimento-bg.png) no-repeat center;background-size:cover;">
  <ion-content>
  <div  class="head-box">
    <div class="row">
      <div class="col-20">

      </div>
      <div class="col-80">
        <p>Perguntas frequentes.</p>
        <p>Encontre rapidamente o que precisa para solucionar sua dúvida pesquisando abaixo.</p>
      </div>
    </div>
  </div>

  <div style="padding:15px !important;">
    <label class="item item-input" style="border-radius: 14px;background-color: rgb(92, 177, 181);border:none;">

      <input type="text" placeholder="Pesquise aqui..." data-ng-model="searchForce">
        <i class="icon ion-ios-search" style="color:#fff;margin-right:30px;"></i>
    </label>
  </div>

  <div class="list">

    <div class="row item" id="item-faq">
      <a href="">
        <div class="col-20">
          <div id="item-circle-grey">
            <i id="item-icon-grey" class="icon ion-ios-arrow-right"></i>
          </div>
        </div>
      </a>
      <span id="item-color">Arredondamentos</span>
    </div>
    <div class="row item" id="item-faq">
      <a href="">
        <div class="col-20">
          <div id="item-circle-grey">
            <i id="item-icon-grey" class="icon ion-ios-arrow-right"></i>
          </div>
        </div>
      </a>
      <span id="item-color">Saques e depósitos</span>
    </div>
    <div class="row item" id="item-faq">
      <a href="">
        <div class="col-20">
          <div id="item-circle-grey">
            <i id="item-icon-grey" class="icon ion-ios-arrow-right"></i>
          </div>
        </div>
      </a>
      <span id="item-color">Contas de banco e crédito</span>
    </div>
    <div class="row item" id="item-faq">
      <a href="">
        <div class="col-20">
          <div id="item-circle-grey">
            <i id="item-icon-grey" class="icon ion-ios-arrow-right"></i>
          </div>
        </div>
      </a>
      <span id="item-color">Investimentos</span>
    </div>
    <div class="row item" id="item-faq">
      <a href="">
        <div class="col-20">
          <div id="item-circle-grey">
            <i id="item-icon-grey" class="icon ion-ios-arrow-right"></i>
          </div>
        </div>
      </a>
      <span id="item-color">Taxas</span>
    </div>
    <div class="row item" id="item-faq">
      <a href="">
        <div class="col-20">
          <div id="item-circle-grey">
            <i id="item-icon-grey" class="icon ion-ios-arrow-right"></i>
          </div>
        </div>
      </a>
      <span id="item-color">Cadastro</span>
    </div>
  </div>




</ion-content>

</ion-view>
