<style media="screen">
  .item-floating-label {
    border: 0;
  }
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: rgb(255, 255, 255) !important;
  }
  .login-container {
    position:relative;
    margin-top:25vh;
  }

</style>

  <ion-content style="background: url(img/login-bg-acorn.png) no-repeat center;background-size:cover;height: 100%;">
      <div style="background-color: #629cce;height:100px;"></div>
    <div class="col">
        <div class="" style="text-align:center;margin-top:-38px;">
          <img src="img/logo-bg.png" alt="">
          <h2 style="color: #fff;font-weight:300;">LOGO<span style="font-weight:400;">MARCA</span></h2>
        </div>


        <div style="text-align:center;margin:50px;">
          <p style="color:#fff;font-size:20px;">BEM-VINDO</p>
          <p style="color:#fff;font-size:20px;">Agora você está pronto para lucrar com seus trocados.</p>
        </div>
    </div>
    <br>

  </ion-content>

  <ion-footer-bar class="footer-bar-custom">
    <div class="" style="padding:30px;">
      <button ng-click="login()" class="item-center button button-clear btn-cadastro">
        <i class="icon ion-ios-checkmark-empty" style="font-size:30px;"></i>
      &nbsp;
        VAMOS COMEÇAR
      </button>
    </div>
</ion-footer-bar>
