<ion-content style="background: url(img/login-bg-acorn.png) no-repeat center;background-size:cover;height:100%;">
  <div class="head-box">
    <div class="row" >
      <div class="col-20">

      </div>
      <div class="col-80">
        <p>Conecte ao seu banco.</p>
        <p>Faça o login com sua conta do banco para conectar com nossos serviços</p>
      </div>
    </div>
    <h1>
      Faça o login com o seu banco
    </h1>

  </div>

  <div class="input-container" style="margin-left:20px;">
    <label class="item">
      <input type="text" class="input-style" placeholder="Login">
    </label>
    <label class="item">
      <input type="text" class="input-style" placeholder="Senha">
    </label>
  </div>

  <div class="" style="margin:30px;">
    <span style="color:#fff;font-size:12px;">Seus dados estão protegidos com criptografia bancária e não serão guardados em nossos servidores.</span>
  </div>




</ion-content>

<ion-footer-bar class="footer-bar-custom-last" style="">
  <div class="col" style="padding:30px;">
    <button class="item-center button button-clear btn-cadastro">
      <i class="icon ion-ios-checkmark-empty" style="font-size:30px;"></i>
    &nbsp;
      CONECTAR A SUA CONTA DO BANCO
    </button>

    <button ng-click="doWelcome()" class="item-center button button-clear btn-finalizar" style="margin-top:50px;">
      <i class="icon ion-ios-arrow-right" style="font-size:30px;"></i>
    &nbsp;
    PULAR E FINALIZAR
  </button>
  </div>
</ion-footer-bar>
