<ion-content style="background: url(img/login-bg-acorn.png) no-repeat center;background-size:cover;height:100%;">
  <div style="padding:15px;background-color: #538abf;">
    <div class="row" style="padding:20px;background-color: #6b9ecb;">
      <div class="col-20">
        <img src="img/mini-logo.png" alt="" style="padding-top:20px;text-align:center;"/>
      </div>
      <div class="col-80">
        <span style="color:#fff;font-size:12px;">Agora, faça o seu primeiro investimento.</span><br>
        <span style="color:#fff;font-size:12px;">Escolha uma quantia de investimento. <br> Depósitos e retiradas não tem custo.</span>
      </div>
    </div>
    <div style="text-align:center;margin-top:30px;padding-left:30px;padding-right:30px;">
      <span style="font-size:15px;color:#fff;">Quanto deseja investir?</span>
    </div>
  </div>

  <ul class="list" style="margin-left:15px;">
    <li class="item item-checkbox list-check-or-radio">
      R$ 5.000
      <label class="checkbox">
        <input name="check" type="radio">
      </label>
    </li>
    <li class="item item-checkbox list-check-or-radio">
      R$ 1.000
      <label class="checkbox">
        <input name="check" type="radio">
      </label>
    </li>
    <li class="item item-checkbox list-check-or-radio">
      R$ 100
      <label class="checkbox">
        <input name="check" type="radio">
      </label>
    </li>
    <li class="item item-checkbox list-check-or-radio">
      R$ 20
      <label class="checkbox">
        <input name="check" type="radio">
      </label>
    </li>
    <li class="item item-checkbox list-check-or-radio">
     Digite um valor
      <label class="checkbox">
        <input name="check" type="radio">
      </label>

    </li>
  </ul>
  <div class="col-60" style="margin-top:-80px;float:right;margin-right:20px;">
    <label class="item" style="background-color:transparent;border:none;background-color: rgb(92, 177, 181) !important;border-radius: 15px 20px 15px 20px;height:70px;">
      <input type="number" class="input-style" placeholder="R$" style="width:100px !important; ">
    </label>
  </div>



</ion-content>

<ion-footer-bar class="footer-bar-custom" style="">
  <div class="col" style="padding:30px;">
    <button ng-click="doQuestion13()" class="item-center button button-clear btn-cadastro">
      <i class="icon ion-ios-checkmark-empty" style="font-size:30px;"></i>
    &nbsp;
      CONTINUAR (Passo 12 de 14)
    </button>
  </div>
</ion-footer-bar>
