<ion-view style="background: url(img/login-bg-acorn.png) no-repeat center;background-size:cover;height:100%;">
  <div class="head-box" >
    <div class="row">
      <div class="col-20">

      </div>
      <div class="col-80">
        <p>Sua localização.</p>
        <p>Para sua identificação, precisamos de algumas informações importantes.</p>
      </div>
    </div>
    <h1>
      Qual é seu endereço?
    </h1>
  </div>
  <div class="input-container" style="margin-left:20px;">
    <div class="row">
      <div class="col-60">
        <label class="item" style="background-color:transparent;border:none;">
          <input type="text" class="input-style" placeholder="CEP">
        </label>
      </div>
      <div class="col-40" style="margin-left:30px;">
        <button class="button button-icon" ng-click="openPopover($event)" >
          {{$root.user.app.uf}}
        </button>

      </div>

    </div>

    <label class="item">
      <input type="text" class="input-style" placeholder="Cidade">
    </label>
    <label class="item">
      <input type="text" class="input-style" placeholder="Endereço">
    </label>
    <label class="item">
      <input type="text" class="input-style" placeholder="Complemento">
    </label>
  </div>

</ion-content>

<ion-footer-bar class="footer-bar-custom" style="">
  <div class="col" style="padding:30px;">
    <button ng-click="go('pergunta-3')" class="item-center button button-clear btn-cadastro">
      <i class="icon ion-ios-checkmark-empty" style="font-size:30px;"></i>
    &nbsp;
      CONTINUAR (Passo 2 de 14)
    </button>
  </div>
</ion-footer-bar>
</ion-view>
