<ion-view style="background: url(img/login-bg-acorn.png) no-repeat center;background-size:cover;height:100%;">
  <div class="head-box" >
    <div class="row">
      <div class="col-20">

      </div>
      <div class="col-80">
        <p>Fale mais sobre você.</p>
        <p>Responda algumas perguntas para completar o seu perfil de investimento</p>
      </div>
    </div>
    <h1>Qual a sua preferência em investimentos?</h1>
  </div>
  <form name="formOne" novalidate>
  <ul class="list" style="margin-left:15px;">
    <li class="item item-checkbox list-check-or-radio">
      Investimento de longa duração
      <label class="checkbox">
        <input name="check" type="radio" value="longa" ng-model="newAccount.investorProfile" required>
      </label>
    </li>
    <li class="item item-checkbox list-check-or-radio">
      Investimento de curta duração
      <label class="checkbox">
        <input name="check" type="radio" value="curta" ng-model="newAccount.investorProfile" required>
      </label>
    </li>
    <li class="item item-checkbox list-check-or-radio">
      Compra maior
      <label class="checkbox">
        <input name="check" type="radio" value="maior" ng-model="newAccount.investorProfile" required>
      </label>
    </li>
    <li class="item item-checkbox list-check-or-radio">
      Filhos
      <label class="checkbox">
        <input name="check" type="radio" value="filhos" ng-model="newAccount.investorProfile" required>
      </label>
    </li>
    <li class="item item-checkbox list-check-or-radio">
      Geral
      <label class="checkbox">
        <input name="check" type="radio" value="geral" ng-model="newAccount.investorProfile" required>
      </label>
    </li>
  </ul>

</ion-content>

<ion-footer-bar class="footer-bar-custom" style="">
  <div class="col" style="padding:30px;">
    <button ng-disabled="!formOne.$valid" ng-click="do5()" class="item-center button button-clear btn-cadastro">
      <i class="icon ion-ios-checkmark-empty" style="font-size:30px;"></i>
    &nbsp;
     CONTINUAR (Passo 4 de 4)
    </button>
  </div>
</form>
</ion-view>
