<ion-content style="background: url(img/login-bg-acorn.png) no-repeat center;background-size:cover;height:100%;">
  <div class="head-box" >
    <div class="row" >
      <div class="col-20">

      </div>
      <div class="col-80">
        <p >Fale mais sobre você.</p>
        <p >Responda algumas perguntas para completar o seu perfil de investimento</p>
      </div>
    </div>
    <h1>
      Qual a sua data de nascimento?
    </h1>

  </div>

  <div class="row" style="padding:15px;">
    <div class="col col-33">
      <label class = "item item-input item-dark" style="width:60px !important;">
         <select>
            <option>1</option>
            <option selected>2</option>
         </select>
      </label>
    </div>
    <div class="col col-33">
      <label class = "item item-input item-dark" style="width:60px !important;">
         <select>
            <option>Jan</option>
            <option selected>Fev</option>
            <option>Març</option>
         </select>
      </label>
    </div>
    <div class="col col-33">
      <label class = "item item-input item-dark">
         <select>
            <option>1992</option>
            <option selected>1994</option>
            <option>1994</option>
         </select>
      </label>
    </div>
  </div>
</ion-content>

<ion-footer-bar class="footer-bar-custom" style="">
  <div class="col" style="padding:30px;">
    <button ng-click="doQuestion11()" class="item-center button button-clear btn-cadastro">
      <i class="icon ion-ios-checkmark-empty" style="font-size:30px;"></i>
    &nbsp;
      CONTINUAR (Passo 10 de 14)
    </button>
  </div>
</ion-footer-bar>
