<ion-content style="background: url(img/login-bg-acorn.png) no-repeat center;background-size:cover;">
  <div style="padding:15px;background-color: #538abf;">
    <div class="row" style="padding:20px;background-color: #6b9ecb;">
      <div class="col-20">
        <img src="img/mini-logo.png" alt="" style="padding-top:20px;text-align:center;"/>
      </div>
      <div class="col-80">
        <span style="color:#fff;font-size:12px;">Fale mais sobre você.</span><br>
        <span style="color:#fff;font-size:12px;">Responda algumas perguntas para completar o seu perfil de investimento</span>
      </div>
    </div>
    <div style="text-align:center;margin-top:30px;padding-left:30px;padding-right:30px;">
      <span style="font-size:15px;color:#fff;">Qual a sua receita anual?</span>
    </div>
  </div>

  <ul class="list" style="margin-left:15px;">
    <li class="item item-checkbox list-check-or-radio">
      Menos que R$25mil
      <label class="checkbox">
        <input name="check" type="radio">
      </label>
    </li>
    <li class="item item-checkbox list-check-or-radio">
      R$25mil a R$50mil
      <label class="checkbox">
        <input name="check" type="radio">
      </label>
    </li>
    <li class="item item-checkbox list-check-or-radio">
      R$50mil a R$100mil
      <label class="checkbox">
        <input name="check" type="radio">
      </label>
    </li>
    <li class="item item-checkbox list-check-or-radio">
      R$100mil a R$250mil
      <label class="checkbox">
        <input name="check" type="radio">
      </label>
    </li>
    <li class="item item-checkbox list-check-or-radio">
      Mais que R$250mil
      <label class="checkbox">
        <input name="check" type="radio">
      </label>
    </li>
  </ul>




  <div style="text-align:center;margin:15px;">
    <button ng-click="doQuestion6()" class="button button-positive button-block btn-cadastro">
      <i class="icon ion-ios-checkmark-empty" style="font-size:30px;"></i>
      &nbsp;
      Continuar (Passo 5 de 14)
    </button>
  </div>

</ion-content>
