<ion-content style="background: url(img/login-bg-acorn.png) no-repeat center;background-size:cover;height:100%;">
  <div style="padding:15px;background-color: #538abf;">
    <div class="row" style="padding:20px;background-color: #6b9ecb;">
      <div class="col-20">
        <img src="img/mini-logo.png" alt="" style="padding-top:20px;text-align:center;"/>
      </div>
      <div class="col-80">
        <span style="color:#fff;font-size:12px;">Fale mais sobre você.</span><br>
        <span style="color:#fff;font-size:12px;">Responda algumas perguntas para completar o seu perfil de investimento</span>
      </div>
    </div>
    <div style="text-align:center;margin-top:30px;padding-left:30px;padding-right:30px;">
      <span style="font-size:15px;color:#fff;">Marque as alternativas aplicáveis</span>
    </div>
  </div>

  <ul class="list" style="margin-left:15px;">
    <li class="item item-checkbox list-check-or-radio">
      Sou corretor de valores ou associado a um
      <label class="checkbox">
        <input name="check" type="radio">
      </label>
    </li>
    <li class="item item-checkbox list-check-or-radio">
      Fui notificado pela RF que serei auditado
      <label class="checkbox">
        <input name="check" type="radio">
      </label>
    </li>
    <li class="item item-checkbox list-check-or-radio">
      <p>

      </p>Sou acionista de 10% ou diretor de <br>campanhia pública financiera
      <label class="checkbox">
        <input name="check" type="radio">
      </label>
    </li>
    <li class="item item-checkbox list-check-or-radio">
      Nenhum se aplica a você
      <label class="checkbox">
        <input name="check" type="radio">
      </label>
    </li>

  </ul>


</ion-content>

<ion-footer-bar class="footer-bar-custom" style="">
  <div class="col" style="padding:30px;">
    <button ng-click="doQuestion10()" class="item-center button button-clear btn-cadastro">
      <i class="icon ion-ios-checkmark-empty" style="font-size:30px;"></i>
    &nbsp;
      CONTINUAR (Passo 9 de 14)
    </button>
  </div>
</ion-footer-bar>
