<ion-content style="background: url(img/login-bg-acorn.png) no-repeat center;background-size:cover;height:100%;">
  <div  class="head-box" >
    <div class="row" >
      <div class="col-20">

      </div>
      <div class="col-80">
        <p>Seus dados de acesso.</p>
        <p>Para garantir sua segurança, configure sua senha e pergunta de segurança.</p>
      </div>
    </div>
    <h1>
      Ao continuar, você estará aceitando os <span>Termos de Serviço</span>,e confirmando que é um cidadão brasileiro.
    </h1>
  </div>
  <div class="input-container" style="margin-left:20px;">

    <label class="item">
      <input type="text" class="input-style" placeholder="Senha">
    </label>
    <label class="item">
      <input type="text" class="input-style" placeholder="Repita a senha">
    </label>
    <label class="item">
      <input type="text" class="input-style" placeholder="Pergunta de segurança">
    </label>
    <label class="item">
      <input type="text" class="input-style" placeholder="Sua resposta">
    </label>
  </div>

</ion-content>

<ion-footer-bar class="footer-bar-custom" style="">
  <div class="col" style="padding:30px;">
    <button ng-click="doQuestion4()" class="item-center button button-clear btn-cadastro">
      <i class="icon ion-ios-checkmark-empty" style="font-size:30px;"></i>
    &nbsp;
      CONTINUAR (Passo 3 de 14)
    </button>
  </div>
</ion-footer-bar>
