<ion-content style="background: url(img/login-bg-acorn.png) no-repeat center;background-size:cover;height:100%;">
  <div style="padding:15px;background-color: #538abf;">
    <div class="row" style="padding:20px;background-color: #6b9ecb;">
      <div class="col-20">
        <img src="img/mini-logo.png" alt="" style="padding-top:20px;text-align:center;"/>
      </div>
      <div class="col-80">
        <span style="color:#fff;font-size:12px;">Sua localização.</span><br>
        <span style="color:#fff;font-size:12px;">Para sua identificação, precisamos de algumas informações importantes.</span>
      </div>
    </div>
    <div style="text-align:center;margin-top:30px;">
      <span style="font-size:15px;color:#fff;">Qual é seu endereço?</span>
    </div>

  </div>
  <div class="input-container" style="margin-left:20px;">
    <div class="row">
      <div class="col-60">
        <label class="item" style="background-color:transparent;border:none;">
          <input type="text" class="input-style" placeholder="CEP">
        </label>
      </div>
      <div class="col-40">
        <label class="item" style="background-color:transparent;border:none;">
          <input type="text" class="input-style" placeholder="UF">
        </label>
      </div>

    </div>

    <label class="item">
      <input type="text" class="input-style" placeholder="Cidade">
    </label>
    <label class="item">
      <input type="text" class="input-style" placeholder="Endereço">
    </label>
    <label class="item">
      <input type="text" class="input-style" placeholder="Complemento">
    </label>
  </div>

</ion-content>

<ion-footer-bar class="footer-bar-custom" style="">
  <div class="col" style="padding:30px;">
    <button ng-click="doQuestion3()" class="item-center button button-clear btn-cadastro">
      <i class="icon ion-ios-checkmark-empty" style="font-size:30px;"></i>
    &nbsp;
      CONTINUAR (Passo 2 de 14)
    </button>
  </div>
</ion-footer-bar>
