<ion-content style="background: url(img/login-bg-acorn.png) no-repeat center;background-size:cover;height:100%;">
  <div class="head-box" >
    <div class="row" >
      <div class="col-20">

      </div>
      <div class="col-80">
        <p>Dados da sua conta.</p>
        <p>Para sua identificação, precisamos de algumas informações importantes.</p>
      </div>
    </div>
    <h1>
      Informe seus dados
    </h1>
  </div>
  <div class="input-container" style="margin-left:20px;">
    <label class="item">
      <input type="text" class="input-style" placeholder="Nome">
    </label>
    <label class="item">
      <input type="text" class="input-style" placeholder="Telefone">
    </label>
    <label class="item">
      <input type="text" class="input-style" placeholder="E-mail">
    </label>
    <label class="item">
      <input type="text" class="input-style" placeholder="CPF">
    </label>
  </div>

</ion-content>

<ion-footer-bar class="footer-bar-custom" style="">
  <div class="col" style="padding:30px;">
    <button ng-click="doQuestion()" class="item-center button button-clear btn-cadastro">
      <i class="icon ion-ios-checkmark-empty" style="font-size:30px;"></i>
    &nbsp;
      CONTINUAR (Passo 1 de 14)
    </button>
  </div>
</ion-footer-bar>
