<ion-content style="background: url(img/login-bg-acorn.png) no-repeat center;background-size:cover;height:100%;">
  <div style="padding:15px;background-color: #538abf;">
    <div class="row" style="padding:20px;background-color: #6b9ecb;">
      <div class="col-20">
        <img src="img/mini-logo.png" alt="" style="padding-top:20px;text-align:center;"/>
      </div>
      <div class="col-80">
        <span style="color:#fff;font-size:12px;">Conecte-se ao seu banco.</span><br>
        <span style="color:#fff;font-size:12px;">Selecione a instituição em que você tem o maior volume de compras.</span>
      </div>
    </div>
    <div style="text-align:center;margin-top:30px;padding-left:30px;padding-right:30px;">
      <span style="font-size:15px;color:#fff;">Qual o banco de sua preferência?</span>
    </div>
  </div>

  <div style="padding:20px !important;">
    <label class="item item-input" style="border-radius: 14px;background-color: rgb(92, 177, 181);border:none;">

      <input type="text" placeholder="Pesquise aqui..." data-ng-model="searchForce">
        <i class="icon ion-ios-search" style="color:#fff;margin-right:30px;"></i>
    </label>
  </div>

  <ul class="list" style="margin-left:15px;margin-top:-15px;">
    <li class="item item-checkbox list-check-or-radio">
      &nbsp;&nbsp;Banco Santander

      <label class="checkbox">

        <input name="check" type="radio">
      </label>
          <img src="img/santander-img.png" alt="" style="float:left;"/>
    </li>
    <li class="item item-checkbox list-check-or-radio">
      &nbsp;&nbsp;Banco Bradesco
      <label class="checkbox">
        <input name="check" type="radio">
      </label>
        <img src="img/bradesco-img.png" alt="" style="float:left;"/>
    </li>
    <li class="item item-checkbox list-check-or-radio">
    &nbsp;&nbsp;Banco do Brasil
      <label class="checkbox">
        <input name="check" type="radio">
      </label>
      <img src="img/brasil-img.png" alt="" style="float:left;"/>
    </li>
    <li class="item item-checkbox list-check-or-radio">
      &nbsp;&nbsp;Banco Caixa Federal
      <label class="checkbox">
        <input name="check" type="radio">
      </label>
      <img src="img/caixa-img.png" alt="" style="float:left;"/>
    </li>
    <li class="item item-checkbox list-check-or-radio">
     &nbsp;&nbsp;Banco Itaú
      <label class="checkbox">
        <input name="check" type="radio">
      </label>
      <img src="img/itau-img.png" alt="" style="float:left;"/>

    </li>
  </ul>




</ion-content>

<ion-footer-bar class="footer-bar-custom" style="">
  <div class="col" style="padding:30px;">
    <button ng-click="doFinalQuestion()" class="item-center button button-clear btn-cadastro">
      <i class="icon ion-ios-checkmark-empty" style="font-size:30px;"></i>
    &nbsp;
      CONTINUAR (Passo 13 de 14)
    </button>
  </div>
</ion-footer-bar>
