<ion-content style="background: url(img/login-bg-acorn.png) no-repeat center;background-size:cover;height:100%;">
  <div  class="head-box" >
    <div class="row" >
      <div class="col-20">

      </div>
      <div class="col-80">
        <p >Fale mais sobre você.</p>
        <p >Responda algumas perguntas para completar o seu perfil de investimento</p>
      </div>
    </div>
    <h1>Marque as alternativas aplicáveis</h1>

  </div>

  <ul class="list" style="margin-left:15px;">
    <li class="item item-checkbox list-check-or-radio">
      Sou corretor de valores ou associado a um
      <label class="checkbox">
        <input name="check" type="radio">
      </label>
    </li>
    <li class="item item-checkbox list-check-or-radio">
      Fui notificado pela RF que serei auditado
      <label class="checkbox">
        <input name="check" type="radio">
      </label>
    </li>
    <li class="item item-checkbox list-check-or-radio">
      <p>

      </p>Sou acionista de 10% ou diretor de <br>campanhia pública financiera
      <label class="checkbox">
        <input name="check" type="radio">
      </label>
    </li>
    <li class="item item-checkbox list-check-or-radio">
      Nenhum se aplica a você
      <label class="checkbox">
        <input name="check" type="radio">
      </label>
    </li>

  </ul>


</ion-content>

<ion-footer-bar class="footer-bar-custom" style="">
  <div class="col" style="padding:30px;">
    <button ng-click="go('pergunta-10')" class="item-center button button-clear btn-cadastro">
      <i class="icon ion-ios-checkmark-empty" style="font-size:30px;"></i>
    &nbsp;
      CONTINUAR (Passo 9 de 14)
    </button>
  </div>
</ion-footer-bar>
