
<ion-view view-title="SEGURANÇA" style="background: url(img/perfil-investimento-bg.png) no-repeat center;background-size:cover;">

  <ion-slide-box id="slide-seguranca">
    <ion-slide>
      <div style="margin-top:50px;text-align:center;">
        <p style="font-size:20px;color:#FFF;margin-top:70px;">Tranquilidade</p>
        <p style="font-size:15px;color:#FFF;padding:30px;">Sua segurança é nossa maior prioridade. Trabalhamos para proteger seus dados, prevenir acessos não autorizados a sua conta, e notificar você em casos suspeitos.</p>
      </div>
   </ion-slide>
   <ion-slide>
     <div style="margin-top:50px;text-align:center;">
       <p style="font-size:20px;color:#FFF;margin-top:70px;">Seguro contra fraudes</p>
       <p style="font-size:15px;color:#FFF;padding:30px;">Cada conta em nosso serviço está segurada em até R$ 500 mil por fraude.</p>
     </div>
  </ion-slide>
  <ion-slide>
    <div style="margin-top:50px;text-align:center;">
      <p style="font-size:20px;color:#FFF;margin-top:70px;">Criptografia SSL</p>
      <p style="font-size:15px;color:#FFF;padding:30px;">Nosso serviços são protegidos com criptografia de 256-bit.</p>
    </div>
  </ion-slide>
   <ion-slide>
     <div style="margin-top:50px;text-align:center;">
       <p style="font-size:20px;color:#FFF;margin-top:70px;">Segurança de nível bancário</p>
       <p style="font-size:15px;color:#FFF;padding:30px;">Nosso serviços são protegidos com criptografia de 256-bit.</p>
     </div>
  </ion-slide>
   <ion-slide>
     <div style="margin-top:50px;text-align:center;">
       <p style="font-size:20px;color:#FFF;margin-top:70px;">Conta protegida</p>
       <p style="font-size:15px;color:#FFF;padding:30px;">Autenticamos multi camadas, desconexão automática e verificação de identidade ajudam a prevenir fraudes.</p>
     </div>
  </ion-slide>
   <ion-slide>
     <div style="margin-top:50px;text-align:center;">
       <p style="font-size:20px;color:#FFF;margin-top:70px;">Alertas da conta</p>
       <p style="font-size:15px;color:#FFF;padding:30px;">Entraremos em contato com você em caso de atividades suspeitas em sua conta para proteção contra fraude.</p>
     </div>
  </ion-slide>


  </ion-slide-box>



</ion-view>
