<ion-view view-title="SEGURANÇA" style="background: url(img/perfil-investimento-bg.png) no-repeat center;background-size:cover;">

  <ion-slide-box id="slide-seguranca">
    <ion-slide>
      <div style="text-align:center;    height: 100%;" class="head-box home" >
        <p class="seg-title" style="">Tranquilidade</p>
        <p class="seg-desc" style="margin-top: 30px !important;">Sua segurança é nossa maior prioridade. Trabalhamos para proteger seus dados, prevenir acessos não autorizados a sua conta, e notificar você em casos suspeitos.</p>
      </div>
   </ion-slide>
   <ion-slide>
     <div style="text-align:center;    height: 100%;" class="head-box home">
       <p class="seg-title">Seguro contra fraudes</p>
         <img src="img/seguranca-slide-pic1.png" class="img-ajuda-seguranca"/>
       <p class="seg-desc">Cada conta em nosso serviço está segurada em até R$ 500 mil por fraude.</p>
     </div>
  </ion-slide>
  <ion-slide>
    <div style="text-align:center;    height: 100%;" class="head-box home">
      <p class="seg-title">Criptografia SSL</p>
      <img src="img/seguranca-slide-pic2.png" class="img-ajuda-seguranca" style="margin-left: -15px;"/>
      <p class="seg-desc">Nosso serviços são protegidos com criptografia de 256-bit.</p>
    </div>
  </ion-slide>
   <ion-slide>
     <div style="text-align:center;    height: 100%;" class="head-box home">
       <p class="seg-title">Segurança de nível bancário</p>
       <img src="img/seguranca-slide-pic3.png" class="img-ajuda-seguranca"/>
       <p class="seg-desc">Nosso serviços são protegidos com criptografia de 256-bit.</p>
     </div>
  </ion-slide>
   <ion-slide>
     <div style="text-align:center;height: 100%" class="head-box home">
       <p class="seg-title">Conta protegida</p>
       <img src="img/seguranca-slide-pic4.png" class="img-ajuda-seguranca"/>
       <p class="seg-desc">Autenticamos multi camadas, desconexão automática e verificação de identidade ajudam a prevenir fraudes.</p>
     </div>
  </ion-slide>
   <ion-slide>
     <div style="text-align:center;height: 100%" class="head-box home">
       <p class="seg-title">Alertas da conta</p>
       <img src="img/seguranca-slide-pic5.png" class="img-ajuda-seguranca"/>
       <p class="seg-desc">Entraremos em contato com você em caso de atividades suspeitas em sua conta para proteção contra fraude.</p>
     </div>
  </ion-slide>


  </ion-slide-box>

  <div class="col footer-ajuda">
    <p>
      Suas informações estão seguras, não compartilhamos nem vendemos dados de nossos servidores para ninguém.
    </p>

    <ion-footer-bar class="footer-bar-custom" style="background-color:#3c9bae; !important">
      <div class="col" style="padding:30px;">
        <button ng-click="doQuestion3()" class="item-center button button-clear btn-cadastro">

          LEIA NOSSAS POLÍTICAS DE PRIVACIDADE
        </button>
      </div>
    </ion-footer-bar>


  </div>



</ion-view>
