<ion-view view-title="HISTÓRICO" style="background: url(img/perfil-investimento-bg.png) no-repeat center;background-size:cover;overflow: hidden;" class="historico"  ng-init="GetHistory()">

  <div style="padding: 60px 15px 41px; "  class="head-bg">
    <label class="item item-input" style="border-radius: 14px;background-color: #71adcc;border:none;width: 288px;
  height: 28px;">

      <input type="text" placeholder="Pesquise aqui..." data-ng-model="searchForce" style="padding-top: 3px; margin-bottom: 3px;">
        <i class="icon ion-ios-search" style="color:#fff;margin-right: 11px;    margin-bottom: 2px;"></i>
    </label>
  </div>

  <ion-tabs class="tabs-dark tabs-icon-top">

    <ion-tab title="Este Mês" icon="No Icon" id="tabsController-tab1">

      <ion-content scroll="true" style="bottom: 0;top: 127px !important;">

        <div class="list estendida" >

          <div class="row item"  ng-repeat="item in Tudo | filter:{ financialTransactionDescription: searchForce } as filtered"  ng-if="(item.transactionDate | date: 'MM') === (currentDate | date: 'MM')">

            <div class="col-90">

              <h3>

                <span>+</span>

                &nbsp; <span>R$</span>

                <span>{{item.roundValueInvestment}}</span>

              </h3>

              <h2>

                <span style="color: #8cc5cc">{{item.transactionDate | date: 'dd/MM/yyyy'}}</span> R$ {{item.transactionValue}} {{item.financialTransactionDescription}}

              </h2>

            </div>



          </div>

        </div>

      </ion-content>


    </ion-tab>

    <ion-tab title="Este Ano" icon="No Icon" id="tabsController-tab5">

      <ion-content scroll="true" style="bottom: 0;top: 127px !important;overflow: hidden;">

        <div class="list estendida" >

          <div class="row item"  ng-repeat="item in Tudo | filter:{ financialTransactionDescription: searchForce} as filtered"  ng-if="(item.transactionDate | date: 'yyyy') == (currentDate | date: 'yyyy')">

            <div class="col-90">

              <h3>

                <span>+</span>

                &nbsp; <span>R$</span>

               <span>{{item.roundValueInvestment}}</span>

              </h3>

              <h2>

                <span style="color: #8cc5cc">{{item.transactionDate | date: 'dd/MM/yyyy'}}</span> R$ {{item.transactionValue}} {{item.financialTransactionDescription}}

              </h2>

            </div>

          </div>

        </div>

      </ion-content>

    </ion-tab>

    <ion-tab title="Tudo" icon="No Icon" id="tabsController-tab2">

      <ion-content scroll="true" style="bottom: 0;top: 127px !important;overflow: hidden;">

        <div class="list estendida" >

          <div class="row item"  ng-repeat="item in Tudo | filter:{ financialTransactionDescription: searchForce} as filtered"  >

            <div class="col-90">

              <h3>

                <span>+</span>

                &nbsp; <span>R$</span>

                <span>{{item.roundValueInvestment}}</span>

              </h3>

              <h2>

                <span style="color: #8cc5cc">{{item.transactionDate | date: 'dd/MM/yyyy'}}</span> R$ {{item.transactionValue}} {{item.financialTransactionDescription}}

              </h2>

            </div>



          </div>

        </div>

      </ion-content>

    </ion-tab>

  </ion-tabs>

</ion-view>
