<ion-view view-title="HISTÓRICO" style="background: url(img/perfil-investimento-bg.png) no-repeat center;background-size:cover;" class="historico">

  <div style="margin-top:35px;padding:15px !important;">
    <label class="item item-input" style="border-radius: 14px;background-color: #71adcc;border:none;width: 288px;
  height: 28px;">

      <input type="text" placeholder="Pesquise aqui..." data-ng-model="searchForce" style="padding-top: 0px; margin-bottom: 3px;">
        <i class="icon ion-ios-search" style="color:#fff;margin-right: 11px;    margin-bottom: 2px;"></i>
    </label>
  </div>

  <ion-tabs class="tabs-dark tabs-icon-top" >

    <ion-tab title="Este Mês" icon="No Icon" id="tabsController-tab1">

      <ion-content scroll="true" style="bottom: 0;top: 116px !important;">

        <div class="list estendida" >

          <div class="row item"  ng-repeat="item in Saldo | filter:{ label: searchForce } as filtered" ng-class="item.status === 1 ? 'concluido' : '' " ng-if="(item.date | date: 'MM') == (currentDate | date: 'MM')">

            <div class="col-80">

              <h3>

                <span ng-class="item.signal === '-' ? 'negativo' : '' ">{{item.signal}}</span>

                &nbsp; <span>R$</span>

                &nbsp; <span>{{item.value}}</span>

              </h3>

              <h2>

                <span style="color: #8cc5cc">{{item.date | date: 'dd/MM/yyyy'}}</span> {{item.label}}

              </h2>

            </div>



          </div>

        </div>

      </ion-content>


    </ion-tab>

    <ion-tab title="Este Ano" icon="No Icon" id="tabsController-tab5">

      <ion-content scroll="true" style="bottom: 0;top: 116px !important;overflow: hidden;">

        <div class="list estendida" >

          <div class="row item"  ng-repeat="item in Saldo | filter:{ label: searchForce} as filtered" ng-class="item.status === 1 ? 'concluido' : '' " ng-if="(item.date | date: 'yyyy') == (currentDate | date: 'yyyy')">

            <div class="col-80">

              <h3>

                <span ng-class="item.signal === '-' ? 'negativo' : '' ">{{item.signal}}</span>

                &nbsp; <span>R$</span>

                &nbsp; <span>{{item.value}}</span>

              </h3>

              <h2>

                <span style="color: #8cc5cc">{{item.date | date: 'dd/MM/yyyy'}}</span> {{item.label}}

              </h2>

            </div>

          </div>

        </div>

      </ion-content>

    </ion-tab>

    <ion-tab title="Tudo" icon="No Icon" id="tabsController-tab2">

      <ion-content scroll="true" style="bottom: 0;top: 116px !important;overflow: hidden;">

        <div class="list estendida" >

          <div class="row item"  ng-repeat="item in Saldo | filter:{ label: searchForce} as filtered"  ng-class="item.status === 1 ? 'concluido' : '' ">

            <div class="col-80">

              <h3>

                <span ng-class="item.signal === '-' ? 'negativo' : '' ">{{item.signal}}</span>

                &nbsp; <span>R$</span>

                &nbsp; <span>{{item.value}}</span>

              </h3>

              <h2>

                <span style="color: #8cc5cc">{{item.date | date: 'dd/MM/yyyy'}}</span> {{item.label}}

              </h2>

            </div>



          </div>

        </div>

      </ion-content>

    </ion-tab>

  </ion-tabs>

</ion-view>
