<ion-view view-title="CONFIGURAÇÕES" style="background: url(img/perfil-investimento-bg.png) no-repeat center;background-size:cover;">


  <div class="list" style="margin-top:50px;">

    <div class="row item" id="item-principal">
      <a href="">
        <div class="col-20">
          <div id="item-circle-grey">
            <i id="item-icon-grey" class="icon ion-ios-arrow-right"></i>
          </div>
        </div>
      </a>
      <span id="item-color">Dados do Usuário</span>
    </div>
    <div class="row item" id="item-principal">
      <a href="">
        <div class="col-20">
          <div id="item-circle-grey">
            <i class="icon ion-ios-arrow-right" id="item-icon-grey"></i>
          </div>
        </div>
      </a>
      <span id="item-color">Segurança</span>
    </div>
    <div class="row item" id="item-principal">
      <a ng-click="doArredondamento()">
        <div class="col-20">
          <div id="item-circle-grey">
            <i class="icon ion-ios-arrow-right" id="item-icon-grey"></i>
          </div>
        </div>
      </a>
      <a ng-click="doArredondamento()"><span id="item-color">Arredondamento e Cartões</span></a>
    </div>
    <div class="row item" id="item-principal">
      <a ng-click="adicionarPreferencia()">
        <div class="col-20">
          <div id="item-circle-grey">
            <i class="icon ion-ios-arrow-right" id="item-icon-grey"></i>
          </div>
        </div>
      </a>
      <a ng-click="adicionarPreferencia()"><span id="item-color">Preferência do Sistema</span></a>
    </div>
    <div class="row item" id="item-principal">
      <a ng-click="adicionarContaBancaria()">
        <div class="col-20">
          <div id="item-circle-grey">
            <i class="icon ion-ios-arrow-right" id="item-icon-grey"></i>
          </div>
        </div>
      </a>
      <a ng-click="adicionarContaBancaria()"><span id="item-color">Conta Bancária</span></a>
    </div>
    <div class="row item" id="item-principal">
      <a ng-click="adicionarContaBancaria()">
        <div class="col-20">
          <div id="item-circle-grey">
            <i class="icon ion-ios-arrow-right" id="item-icon-grey"></i>
          </div>
        </div>
      </a>
      <a ng-click="adicionarContaBancaria()"><span id="item-color">Notificações</span></a>
    </div>


  </div>

</ion-view>
