<style media="screen">
  .item-floating-label {
    border: 0;
  }
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: rgb(255, 255, 255) !important;
  }
  .login-container {
    position:relative;
    margin-top:10vh;
    margin-left:20px;
  }
</style>

  <ion-content style="background: url(img/login-bg-acorn.png) no-repeat center;background-size:cover;">
    <div style="background-color: #629cce;height:100px;"></div>
    <div class="column">
      <div class="" style="text-align:center;margin-top:-60px;">
        <img src="img/logo-bg.png" alt="">
        <h2 style="color: #fff;font-weight:300;margin-top: 0;">SAVE<span style="font-weight:400;">CENTS</span></h2>
      </div>


      <section class="login-container">

          <label class="item item-input item-floating-label" style="padding-right: 16px;">
            <span class="input-label">E-mail</span>
            <input type="text" placeholder="E-mail" ng-model="username" name="username" class="input-style" style="width: 100% !important">
          </label>
          <label class="item item-input item-floating-label"  style="padding-right: 16px;">
            <span class="input-label">Senha</span>
            <input type="password" placeholder="Senha" ng-model="password" name="password" class="input-style" style="width: 100% !important">
          </label>

          <div style="margin-top: 10px;margin: 10px 20px;text-align: right;" >
            <a ng-click="doLogin(username, password)"  style="font-size:18px;color: rgb(255, 255, 255);text-decoration: none">Entrar</a>
          </div>

          <div class="col" style="margin-top: 30px;margin-left:10px;">
            <a href="#/login/resetar-senha" style="margin-bottom:20px;font-size:13px;color: rgb(255, 255, 255);text-decoration: none">Esqueceu sua senha?</a>
          </div>

          <div class="col" style="margin-top: 10px;margin-left:10px;">
           <a href="#/perguntas-perfil-1" style="font-size:13px;color: rgb(255, 255, 255);text-decoration: none">Cadastre-se</a>
          </div>

      </section>

    </div>
  </ion-content>
