<style media="screen">
  .item-floating-label {
    border: 0;
  }
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: rgb(255, 255, 255) !important;
  }
  .login-container {
    position:relative;
    margin-top:25vh;
  }

</style>

  <ion-content style="background: url(img/login-bg-acorn.png) no-repeat center;background-size:cover;height: 100%;">
      <div style="background-color: #538abf;height:200px;">
        <div style="padding:15px;background-color: #538abf;">

            <div style="text-align:center;margin:50px;">
              <img src="img/mini-logo.png" alt="" style="padding-top:20px;text-align:center;"/>
              <p style="color:#fff;font-size:15px;">Uma mensagem foi enviada para o seu e-mail com as instruções de redefinição de senha. Por favor, verifique sua caixa de entrada.</p>

            </div>


        </div>

      </div>
    <div class="col" style="margin-top:100px;">
        <div style="text-align:center;margin:30px;">
          <a ng-click="login()"><p style="color:#fff;font-size:18px;">Voltar para a página de login</p></a>
          <p style="padding-top:100px;color:#fff;font-size:15px;">Dúvidas? Entre em contato.</p>
        </div>
    </div>
    <br>

  </ion-content>
