<ion-view view-title="INVESTIMENTO PROGRAMADO" style="background: url(img/perfil-investimento-bg.png) no-repeat center;background-size:cover;">
<div class="head-box programado">

  <div class="row">
    <span style="font-size:16px;color:#dce8ef;text-align:right;width: 40%;padding-top: 5px;font-weight: 400;">VALOR A<br>
      INVESTIR</span> <span style="font-size:18px;color:#fff;padding-left:10px;">
      <h3 style="font-weight: 300;color: #fff;"><span style="font-size:25px;">R$</span>
        <span style="font-size:40px;" >{{Valor}}</span>
      </h3>
    </span>
  </div>

  <div class="row periodo">
    <div ng-click="selecionaPeriodo(1)" ng-class="Periodo === 1 ? 'periodoactive' : '' ">
      DIÁRIO
    </div>
    <div ng-click="selecionaPeriodo(2)" ng-class="Periodo === 2 ? 'periodoactive' : ''">
      SEMANAL
    </div>
    <div ng-click="selecionaPeriodo(3)" ng-class="Periodo === 3 ? 'periodoactive' : ''">
      MENSAL
    </div>
  </div>

</div>

<div class = "row" style="text-align:center;">
  <div class="col"><button class="button btn-ellipse" ng-click="clicaTeclado(1)">1</button></div>
  <div class="col"><button class="button btn-ellipse" ng-click="clicaTeclado(2)">2</button></div>
  <div class="col"><button class="button btn-ellipse" ng-click="clicaTeclado(3)">3</button></div>
</div>
<div class = "row" style="text-align:center;">
  <div class="col"><button class="button btn-ellipse" ng-click="clicaTeclado(4)">4</button></div>
  <div class="col"><button class="button btn-ellipse" ng-click="clicaTeclado(5)">5</button></div>
  <div class="col"><button class="button btn-ellipse" ng-click="clicaTeclado(6)">6</button></div>
</div>
<div class = "row" style="text-align:center;">
  <div class="col"><button class="button btn-ellipse" ng-click="clicaTeclado(7)">7</button></div>
  <div class="col"><button class="button btn-ellipse" ng-click="clicaTeclado(8)">8</button></div>
  <div class="col"><button class="button btn-ellipse" ng-click="clicaTeclado(9)">9</button></div>
</div>
<div class = "row" style="text-align:center;">
  <div class="col"><button class="button btn-ellipse" ng-click="limpaTeclado()"><span class="tecladospan">C</span></button></div>
  <div class="col"><button class="button btn-ellipse" ng-click="clicaTeclado(0)">0</button></div>
  <div class="col"><button class="button btn-ellipse" ng-click="delTeclado()"><span class="tecladospan"><</span></button></div>
</div>





<div class="row" style="text-align:center;margin-top:20px;">
  <div class="col">
    <button class="button button-positive btn-perfil">
      PROGRAMAR INVESTIMENTO
  </button>
</div>
</div>





</ion-view>
