<ion-view view-title="AJUDA" style="background: url(img/perfil-investimento-bg.png) no-repeat center;background-size:cover;" class="ajuda">


  <div class="list" style="margin-top:50px;">

    <div class="row item" id="item-principal">
      <a href="#/app/ajuda/faq">
        <div class="col-20">
          <div id="item-circle-grey">
            <i id="item-icon-grey" class="icon ion-ios-arrow-right"></i>
          </div>
        </div>
      </a>
      <a href="#/app/ajuda/faq"><span id="item-color">FAQ</span></a>
    </div>
    <div class="row item" id="item-principal">
      <a href="#/app/ajuda/suporte">
        <div class="col-20">
          <div id="item-circle-grey">
            <i class="icon ion-ios-arrow-right" id="item-icon-grey"></i>
          </div>
        </div>
      </a>
      <a href="#/app/ajuda/suporte"><span id="item-color">Contate nosso suporte</span></a>
    </div>
    <div class="row item" id="item-principal">
      <a href="#/app/ajuda/seguranca">
        <div class="col-20">
          <div id="item-circle-grey">
            <i class="icon ion-ios-arrow-right" id="item-icon-grey"></i>
          </div>
        </div>
      </a>
      <a href="#/app/ajuda/seguranca"><span id="item-color">Segurança</span></a>
    </div>
    <div class="row item" id="item-principal">
      <a ng-click="adicionarPreferencia()">
        <div class="col-20">
          <div id="item-circle-grey">
            <i class="icon ion-ios-arrow-right" id="item-icon-grey"></i>
          </div>
        </div>
      </a>
      <a ng-click="adicionarPreferencia()"><span id="item-color">Taxas</span></a>
    </div>
    <div class="row item" id="item-principal">
      <a ng-href="#/app/legal">
        <div class="col-20">
          <div id="item-circle-grey">
            <i class="icon ion-ios-arrow-right" id="item-icon-grey"></i>
          </div>
        </div>
      </a>
      <a ng-href="#/app/legal"><span id="item-color">Legal</span></a>
    </div>


  </div>

</ion-view>
