<ion-view view-title="CONTATE NOSSO SUPORTE" style="background: url(img/perfil-investimento-bg.png) no-repeat center;background-size:cover;">
  <ion-content>
  <div class="" style="background-color:#62a0cb;padding:30px;margin-top:50px;">
    <div class="row">
      <img src="img/mobile-phone.png" alt="" />
        <span style="font-size:16px;color: #fff;padding-left:10px;">0800-1141-2225</span>
    </div>
  </div>

  <div class="input-container" style="margin-left:20px;">
    <label class="item">
      <input type="text" class="input-style" placeholder="Assunto">
    </label>
    <label class="item">
      <input type="text" class="input-style" placeholder="Mensagem" style="font-size:14px !important;height:100px;border: 1px solid white;padding:15px;">
    </label>
  </div>



</ion-content>

<ion-footer-bar class="footer-bar-custom" style="">
  <div class="col" style="padding:30px;">
    <button ng-click="doQuestion()" class="item-center button button-clear btn-cadastro">
      <i class="icon ion-ios-checkmark-empty" style="font-size:30px;"></i>
    &nbsp;
      ENVIAR
    </button>
  </div>
</ion-footer-bar>

</ion-view>
