<ion-view view-title="LEGAL" style="background: url(img/perfil-investimento-bg.png) no-repeat center;background-size:cover;" class="legal">


  <div class="list" style="margin-top:50px;">

    <div class="row item" id="item-principal">
      <a href="#/app/legal/termos">
        <div class="col-20">
          <div id="item-circle-grey">
            <i id="item-icon-grey" class="icon ion-ios-arrow-right"></i>
          </div>
        </div>
      </a>
      <a href="#/app/legal/termos"><span id="item-color">Termos de serviço</span></a>
    </div>
    <div class="row item" id="item-principal">
      <a href="#/app/legal/contrato">
        <div class="colegall-20">
          <div id="item-circle-grey">
            <i class="icon ion-ios-arrow-right" id="item-icon-grey"></i>
          </div>
        </div>
      </a>
      <a href="#/app/legal/contrato"><span id="item-color">Contrato do Programa</span></a>
    </div>
    <div class="row item" id="item-principal">
      <a href="#/app/legal/politicas">
        <div class="col-20">
          <div id="item-circle-grey">
            <i class="icon ion-ios-arrow-right" id="item-icon-grey"></i>
          </div>
        </div>
      </a>
      <a href="#/app/legal/politicas"><span id="item-color">Políticas de privacidade</span></a>
    </div>
    <div class="row item" id="item-principal">
      <a href="#/app/legal/divulgacao">
        <div class="col-20">
          <div id="item-circle-grey">
            <i class="icon ion-ios-arrow-right" id="item-icon-grey"></i>
          </div>
        </div>
      </a>
      <a href="#/app/legal/divulgacao"><span id="item-color">Divulgação</span></a>
    </div>



  </div>

</ion-view>
