<ion-view view-title="PERFIL DE INVESTIMENTO" style="background: url(img/perfil-investimento-bg.png) no-repeat center;background-size:cover;overflow:hidden" class="perfil-perfor">

      <div class="head-box" >

        <div class="column perfil" >

          <div class="nivel">

            <div class="row" style="margin: 0 auto;width: 253px;">

              <div ng-click="mudarPerfil(perfil.nivel - 1)" ng-repeat="perfil in $root.user.app.perfis"></div>

            </div>

          </div>

          <img ng-src="{{'img/perfil-bg' + perfil.nivel + '.png'}}" alt=""  style="background: url(img/perfil-bg.png) no-repeat"/>

          <p class="perfil-tit"  >
            <img ng-src="img/bt-arrow-left.png" alt=""  ng-click="anteriorPerfil()"/>
            {{perfil.nome}}
            <img ng-src="img/bt-arrow-right.png" alt="" ng-click="proximoPerfil()"/>
          </p>
          <p class="perfil-desc"  >
            {{perfil.desc}}
          </p>

        </div>

      </div>

  <ion-tabs class="tabs-positive tabs-icon-top" id="tabs-usuario">

    <ion-tab title="Ações" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline">

      <ion-content scroll="false" style="bottom: 80px;top: 200px !important;overflow:scroll;">

          <div class="column pie">

            <canvas id="chartpieperfil" width="270" height="100" class="barchart" ng-init="perfilGraficoPie()"></canvas>

            <div class="acoes">

              <div ng-repeat="acao in perfil.acoes" ng-click="detalharAcao(perfil.nivel-1,$index)">

                <span class="verde"><b ng-style="{'background-color':acao.cor}"></b> {{acao.value}}% </span>{{acao.label}}

              </div>

            </div>

          </div>

        </ion-content>

    </ion-tab>

    <ion-tab title="Desempenho" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline">

      <ion-content scroll="false" style="bottom: 80px;top: 200px !important;overflow:scroll;">

        <div class="column box-grafico"  >

          <div class="list">

            <div class="item range range-positive">

              <div class="header">Idade {{idadesimulada}}</div>

              <div class="max">{{idade}}</div>

              <input type="range" min="{{idade}}" max="95" value="{{idadesimulada}}" step="1" ng-model="idadesimulada"  ng-change="atualizarGrafico(idadesimulada,'idade')">

              <div class="max">95</div>

            </div>

            <div class="item range range-positive">

              <div class="header">Mensal R$ {{mensal}} </div>

              <div class="max">0</div>

              <input type="range" min="0" max="100" value="{{mensal}}" step="1" ng-model="mensal"  ng-change="atualizarGrafico(mensal, 'mensal')">

              <div class="max">100</div>

            </div>

            <div class="item range range-positive">

              <div class="header">Projetado R$ {{valor}}  </div>

              <div class="max">0</div>

              <input type="range" min="0" max="15000" value="{{valor}}" step="144" ng-model="valor"  ng-change="atualizarGrafico(valor,'valor')">

              <div class="max"></div>

            </div>

          </div>

          <div class="row">

            <canvas id="chartlineperfil" width="270" height="100" class="barchart" ng-init="perfilGrafico()"></canvas>

          </div>

          <p class="obs">*Desempenho passado não é garantia de retorno futuro</p>

        </div>

      </ion-content>

    </ion-tab>

  </ion-tabs>


  <div style="text-align:center;position: absolute; bottom: 0; width: 100%;  padding: 0px 20px 10px;">

    <button  class="button button-block btn-cadastro" ng-click="selecionarPerfil()">

      <i class="icon ion-ios-checkmark-empty" style="font-size:30px;"></i>

    &nbsp;
    ESCOLHER ESTE PERFIL

  </button>

</div>

</ion-view>
