<ion-view view-title="PERFIL DE INVESTIMENTO" style="background: url(img/perfil-investimento-bg.png) no-repeat center;background-size:cover;" class="perfil-perfor">

      <div class="head-box" >

        <div class="column perfil" >

          <div class="nivel">

            <div class="row" style="margin: 0 auto;width: 253px;">

              <div ng-click="mudarPerfil(perfil.nivel - 1)" ng-repeat="perfil in $root.user.app.perfis"></div>

            </div>

          </div>

          <img ng-src="{{'img/perfil-bg' + perfil.nivel + '.png'}}" alt=""  style="background: url(img/perfil-bg.png) no-repeat"/>

          <p class="perfil-tit"  >
            <img ng-src="img/bt-arrow-left.png" alt=""  ng-click="anteriorPerfil()"/>
            {{perfil.nome}}
            <img ng-src="img/bt-arrow-right.png" alt="" ng-click="proximoPerfil()"/>
          </p>
          <p class="perfil-desc"  >
            {{perfil.desc}}
          </p>

        </div>

      </div>

  <ion-slide-box>
    <ion-slide>

      <div class="column pie">

        <canvas id="chartpieperfil" width="270" height="100" class="barchart" ng-init="perfilGraficoPie()"></canvas>

        <div class="acoes">
          <div ng-repeat="acao in perfil.acoes" ng-click="detalharAcao(perfil.nivel-1,$index)">
            <span class="verde"><b ng-style="{'background-color':acao.cor}"></b> {{acao.value}}% </span>{{acao.label}}
          </div>
        </div>

      </div>

    </ion-slide>
    <ion-slide>


      <div class="column box-grafico"  >

        <div class="list">

          <div class="item range range-positive">

            <div class="header">Idade {{idadesimulada}}</div>

            <div class="max">{{idade}}</div>

            <input type="range" min="{{idade}}" max="95" value="{{idadesimulada}}" step="1" ng-model="idadesimulada"  ng-change="atualizarGrafico(idadesimulada)">

            <div class="max">95</div>

          </div>

          <div class="item range range-positive">

            <div class="header">Mensal R$ {{mensal}},00 </div>

            <div class="max">0</div>

            <input type="range" min="0" max="100" value="{{mensal}}" step="1" ng-model="mensal"  ng-change="atualizarGrafico(idadesimulada)">

            <div class="max">100</div>

          </div>

          <div class="item range range-positive">

            <div class="header">Projetado R$ {{valor}} mil </div>

            <div class="max">0</div>

            <input type="range" min="0" max="95" value="{{valor}}" step="1" ng-model="valor"  ng-change="atualizarGrafico(idadesimulada)">

            <div class="max">95</div>

          </div>

        </div>

        <!--<div class="row">

          <label class="item col-20">
            <input type="text" class="input-style" ng-model="idadesimulada" ng-change="atualizarGrafico(idadesimulada)">
          </label>

          <label class="item col-50">
            <span>Valor Projetado</span>
            <input type="text" class="input-style"  ng-model="valor" >
          </label>

          <label class="item col-30">
            <span>Mensal</span>
            <input type="text" class="input-style"  ng-model="mensal" ng-change="atualizarGrafico(idadesimulada)">
          </label>

        </div>-->

        <div class="row">

          <canvas id="chartlineperfil" width="270" height="100" class="barchart" ng-init="perfilGrafico()"></canvas>

        </div>

        <p class="obs">*Desempenho passado não é garantia de retorno futuro</p>

      </div>

   </ion-slide>

  </ion-slide-box>

  <div style="text-align:center;margin:15px;">
    <button  class="button button-block btn-cadastro" ng-click="selecionarPerfil()">
      <i class="icon ion-ios-checkmark-empty" style="font-size:30px;"></i>
    &nbsp;
    ESCOLHER ESTE PERFIL
  </button>
</div>

</ion-view>
