<ion-view view-title="ARREDONDAMENTOS" style="background: url(img/login-bg-acorn.png) no-repeat center;background-size:cover;height:100%;">

    <div class="col-100" style="margin-left:30px;margin-top:50px;">
        <label class="item item-input item-floating-label">
          <span class="input-label">Bandeiras</span>
          <button class="button button-icon" ng-click="openPopover($event)" id="popover-style-add-conta">
            {{ bandeiras }}
          </button>
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Número do Cartão</span>
          <input type="text" placeholder="Número do Cartão" class="input-style">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Senha</span>
          <input type="password" placeholder="Senha" class="input-style">
        </label>


    </div>
  <ion-footer-bar class="footer-bar-custom" style="">
    <div class="col" style="padding:30px;">
      <button ng-click="doQuestion3()" class="item-center button button-clear btn-cadastro">
        <i class="icon ion-ios-checkmark-empty" style="font-size:30px;"></i>
      &nbsp;
        SALVAR
      </button>
    </div>
  </ion-footer-bar>
  <script id="popover.html" type="text/ng-template">
    <ion-popover-view>
      <ion-content>
        <div class="list" style="padding:20px;">
          <p ng-click="mudaBandeira('Visa')">Visa</p>
          <p ng-click="mudaBandeira('Master Card')">Master Card</p>
          <p ng-click="mudaBandeira('American Express')">American Express</p>
        </div>
      </ion-content>
    </ion-popover-view>
  </script>


  </ion-view>
