<ion-view view-title="ARREDONDAMENTOS" style="background: url(img/perfil-investimento-bg.png) no-repeat center;background-size:cover;" class="arredondamento">
  <ion-content >
    <div class="head-box" style="padding-top: 48px;    padding-bottom: 40px;">
      <div class="row" style="margin-bottom: 13px;" >
        <div class="col-20">

        </div>
        <div class="col-80">
          <p>Contas para arredondamento.</p>
          <p>Adicione aqui os cartões que deseja monitorar para os arredondamentos.</p>
        </div>
      </div>
      <ul class="list">
        <li class="item item-checkbox list-check-or-radio">
          Arredondamento Automático
          <label class="checkbox">
            <input name="check" type="checkbox" checked>
          </label>
        </li>
      </ul>
    </div>

    <div style="text-align:center;margin-top:-21px;border-bottom:1px solid #fff;">
      <span style="font-size:11px;color:#fff;">Contas monitoradas para arredondamentos</span>
    </div>


      <div class="list" style="margin-top:20px;">

        <div class="row item" ng-click="editarConta($index)" id="item-principal" ng-repeat="bandeira in $root.user.app.cartoes">
          <a >
            <div class="col-20">
              <div id="item-circle-grey">
                <i id="item-icon-grey" class="icon ion-ios-arrow-right"></i>
              </div>
            </div>
          </a>
          <span id="item-color">{{bandeira.name}}</span>
        </div>


      </div>
  </ion-content>

  <ion-footer-bar class="footer-bar-custom" style="">
    <div class="col" style="padding:30px;">
      <button ng-click="adicionarConta()" class="item-center button button-clear btn-cadastro">
        <i class="icon ion-ios-plus-empty" style="font-size:30px;"></i>
      &nbsp;
        ADICIONAR CONTA
      </button>
    </div>
  </ion-footer-bar>

</ion-view>
