/*
Acorns App
Main css
Authors : Adriano Fonseca front-end developer
Cleiton Schonardie UI/UX and front-end developer
*/


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgb(255, 255, 255) !important;
}

/**
* LOGIN
*/

.inputs-values > div > span {
  font-size:13px;color:#fff;
}
.input-age {
  padding:2px;margin-left:15px;border-radius: 14px;width: 50px;height: 28px;background-color:rgb(93, 175, 185);
}
.inputs-values .input-age > span{
  font-size:20px;color:#fff;
}
.input-value-project {
  padding:2px;border-radius: 14px;width:120px;height: 28px;background-color:rgb(93, 175, 185);
}
.inputs-values .input-value-project > span {
  font-size:20px;color:#fff;
}
.input-mensal {
  padding:2px;border-radius: 14px;width:80px;height: 28px;background-color:rgb(93, 175, 185);
}
.inputs-values .input-mensal > span{
  font-size:20px;color:#fff;
}
.title-investidor {
  color:#fff;text-align:center;font-size:13px !important;
}
.bar-stable{
  /*background-color: #568dc3 !important;*/
  background-color: transparent !important;
  background-image: none !important;
}
.bar .title {
  display: block !important;
  position: relative !important;
  top: -4px !important;
  right: 0 !important;
  left: 0 !important;
}
.bar.bar-stable .title {
  color: #fff !important;
}
.bar-stable .button.button-icon {
  color: #fff !important;
}
.slider-pager .slider-pager-page {
  color:#fff !important;
}
.slider-slide {
  height:57vh;
  width:100%;
}
#slide-seguranca .slider-slide {
  height:65vh;
  width:100%;
}
#slide-home .slider-slide {
  height:88vh;
  width:100%;
}
#slide-popover .slider-slide {
  height:10vh;
  width:100%;
}
#slide-popover .slider-pager {
  margin-bottom:40px;
}
.btn-perfil {
  color:#fff;
  background-color: rgb(96, 199, 80) !important;
  font-size:11px;
  height: 45px;
  width: 100%;
  border:none;
  font-weight: 600;
  border-radius: 0;
}
.btn-ellipse {
  color:#fff;
  font-size:30px;
  font-weight: 300;
  height: 50px;
  width: 50px;
  border:none;
  border-radius:50%;
  border: 1px solid #fff;
  background-color: transparent;
}
.btn-cadastro {
  color:#fff;
  background-color: rgb(96, 199, 80) !important;
  font-size:11px;
  height: 45px;
  width: 100%;
  border:none;
  font-weight: 600;
}
.btn-popover {
  color:#fff;
  background-color: #9dc5dd !important;
  font-size:11px;
  height: 45px;
  width: 100%;
  border:none;
  font-weight: 600;
  margin-top: -20px;
}
.btn-finalizar {
  color:#fff;
  background-color: #339295 !important;
  font-size:11px;
  height: 45px;
  width: 100%;
  border:none;
  font-weight: 600;
}
.btn-saldo {
  color:#fff;
  background-color: rgb(96, 199, 80);
  width: 125px;
  height: 35px;
  border:none;
}
.tabs {
  top:50% !important;
  color: #ffff;
  width:100% !important;
  background-color: transparent !important;
  background-size: none !important;
}
.tab-item .icon {
  display:none !important;
}
.tabs-icon-top > .tabs .tab-item, .tabs-icon-top.tabs .tab-item, .tabs-icon-bottom > .tabs .tab-item, .tabs-icon-bottom.tabs .tab-item {
  font-size:11px !important;
}
.tabs-dark > .tabs, .tabs.tabs-dark {
  background-image: none;
}
.pane, .view {
  background-color: transparent !important;
  overflow: inherit;
}
#tabs-usuario .tabs {
  top:8% !important;
  width: 100% !important;
  height:30px !important;
  background-color: #639ece !important;
}
#tabs-historico .tabs {
  top:20% !important;
  width: 100% !important;
  height:30px !important;
  background-color: #639ece !important;
}
.tabs-positive > .tabs, .tabs.tabs-positive {
background-image: none !important;
color: #fff;
}
.tab-item.tab-item-active, .tab-item.active, .tab-item.activated {
  border-bottom: 1px solid #fff !important;
  height:20px;
}
.tabs-icon-top > .tabs .tab-item, .tabs-icon-top.tabs .tab-item, .tabs-icon-bottom > .tabs .tab-item, .tabs-icon-bottom.tabs .tab-item {
  margin-top:8px;
}

/**
* PERGUNTAS
*/
.input-style {
  border-bottom: 1px solid #95c7d5 !important;
  background-color:transparent !important;
  font-size:20px !important;
  color:#fff !important;
  font-weight: 300 !important;
  width:240px !important;
}
#popover-style-add-conta {
  width:240px;text-align:left;
  font-size:20px !important;
  color:#fff !important;
  font-weight: 300 !important;
  margin-left:-5px;
}
.input-container > .item{
  background-color:transparent;
  border:none;
}
.input-container > span {
  margin-left:17px;
  color:#fff;
  font-size:11px;
}
.input-container > div > .item{
  background-color:transparent;
  border:none;
}
.checkbox input:checked:before, .checkbox input:checked + .checkbox-icon:before {
  background: #8ac9ca !important;
  border-color: #8ac9ca !important;
}
.checkbox input:before, .checkbox-icon:before {
  background: #5dafb8 !important;
  border-color: #5dafb8 !important;
}
.list-check-or-radio {
  font-size:12px;background:transparent;border:none;color:#fff;
}
.item.item-dark {
  border-color: transparent;
  background-color: transparent;
  color: #fff;
  border-bottom:1px solid #95c7d5;
}
label, input, button, select, textarea {
  color: #fff !important;
  font-size:20px;
  font-weight: 300;
}
.item-floating-label {
  border: 0;
}

.login-container {
  position:relative;
  margin-top:10vh;
  margin-left:20px;
}

/**
* ion-footer-bar custom styles
*/
.bar .button.button-clear, .bar button.button-clear {
  font-size:11px !important;
  font-weight: 600;
}
.footer-bar-custom {
  background: transparent;
  color: #F6F7F0;
  height: 90px;
  width: 100%;
  position: absolute;
  bottom: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 5;
}
.footer-bar-custom-last {
  background: transparent;
  color: #F6F7F0;
  height: 135px;
  width: 100%;
  position: absolute;
  bottom: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 5;
}

.footer-bar-custom .item-left,
.footer-bar-custom .item-center,
.footer-bar-custom .item-right {
  position: absolute;
  width:90%;
  padding-left:20px;

}
.footer-bar-custom-last .item-left,
.footer-bar-custom-last .item-center,
.footer-bar-custom-last .item-right {
  position: absolute;
  width:90%;
  padding-left:20px;

}

.footer-bar-custom .item-left { left: 10px }

.footer-bar-custom .item-center {
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%)
}

.footer-bar-custom .item-right { right: 10px }
.footer-bar-custom-last .item-left { left: 10px }

.footer-bar-custom-last .item-center {
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%)
}

.footer-bar-custom-last .item-right { right: 10px }
.footer-security {
  padding:30px;position:absolute;top:400px !important;
}

.box-grafico{
  padding:20px;
}
.box-grafico > div {

}
.box-grafico .item {
  background: transparent;
  border: 0px;
  text-align: center;
  padding: 0 15px 20px 0;
}
.box-grafico .item:last-child {
  padding: 0 0px 20px 0;
}
.box-grafico label span {
  font-size:11px ;

}
.box-grafico label input {
  font-size:17px ;
  border:0px;
  background-color: rgba(255, 255, 255, 0.11) !important;
  -webkit-border-radius:15px;
  -moz-border-radius:15px;
  border-radius:15px;
  border-bottom: 0px !important;
  width: 100% !important;
  text-align: center;
}
.head-box, .head-bg {
  background: transparent url(../img/header-box.png);
  padding:15px;
}
.head-box h1{
  text-align:center;
  margin-top:30px;
  font-size:15px;
  color:#fff;
  font-weight:400;
}
.head-box > div:first-child {
  padding: 20px 20px 20px 0;
  background: #6b9ecb url(../img/mini-logo.png) no-repeat 15px center;
}
.head-box > div > div.col-80 > p {
  line-height: 14px;
  color:#fff;
  font-size:12px;
  margin-bottom: 1px;
}
.head-box .perfil-tit {
  color:#fff;
  font-size:24px;
  margin-bottom: 7px;
  margin-top: 7px;
}
.head-box .perfil-tit img:first-child {
  float: left;
  margin-top: 4px;
}
.head-box .perfil-tit img:last-child {
  float: right;
  margin-top: 4px;
}
.head-box .perfil-desc {
  color:#fff;
  font-size:11px;
  margin-bottom: 1px;
  text-align:center;
}
.head-box > div.column {
  text-align: center;
  margin-top: 15px;
}
.button-icon {
  border-bottom: 1px solid #95c7d5;
  padding-top:5px;
}
.login-container {
  position:relative;
  margin-top:10vh;
  margin-left:20px;
}

/** CONFIGURAÇÕES **/
#item-principal {
  background-color: transparent;
  color: #fff;
  height:auto;
  border:none;
  padding:20px 20px 0;
}
#item-faq {
  background-color: transparent;
  color: #fff;
  height:auto;
  border:none;
  padding:20px;
  margin-top:-20px;
}
#item-circle-grey {
  width:28px;
  height:29px;
  background-color: #5cb1b5;
  border-radius:50%;
}
#item-icon-grey {
  font-size:20px;
  color:#fff;
  position:relative;
  left:11px;
  top:5px;
}
#item-color {
  font-size:15px;
  padding-left:20px;
  padding-top:2px;
  color:#fff;
}

.head-box .home-desc {
  color:#fff;
  font-size:15px;
  margin-bottom: 15px;
  text-align:center;
}
.head-box .home-title {
  color:#fff;
  font-size:50px;
  margin-bottom: 20px;
  text-align:center;
  font-weight:100;
}
.head-box .home-title small {
  color:#B1D2DF;
  font-size:30px;
}
.head-box .home-title span{
  font-size:20px;
}
.head-box .home-sub-lable {
  color:#fff;
  font-size:11px;
  margin-bottom: 1px;
  text-align:center;
}
.head-box .home-sub-value {
  color:#fff;
  font-size:19px;
  margin-bottom: 1px;
  text-align:center;
}
.head-box .home-sub-value small{
  color:#B1D2DF;
  font-size:15px;
}
.head-box .home-sub-value span{
  font-size:15px;

}
.head-box.home {
  height: 240px;
  font-family: "-apple-system", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;

}
.head-box .column.perfil{
  background:transparent;
  background-image: none;
  margin-top: 50px;
  padding: 0;
}
.head-box.home > div{
  background:transparent;
  background-image: none;
}
.barchart.home{
  width: 100% !important;
  height: 100% !important;
  margin-left: 0px;
  margin-right: 0px;
}
#chartperformance2 {
  height: 70px !important;
}

.chartbox{
  padding: 0;
  height: 289px;
}
.chartbox p{
  font-family: "-apple-system", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
  font-size:11px;
  position: absolute;
  bottom: 3px;
  left: 15px;
  right: 15px;
  color: white;
}
.chartbox p span{
  float: right;
}
.box-grafico .obs{
  font-size: 10px;
  color: #fff;
  text-align: center;
  margin-top: 23px;
}
.column.pie{
  margin-top: 20px;
  background: url(../img/bg-pie.png) no-repeat center 103px;
  height: 250px;
}
.acoes {
  color: white;
  font-size: 11px;
  margin: 13px auto 0;
  width: 210px;
}
.acoes > div {

}
.acoes > div > span{
  font-weight: bold;
  width: 42px;
  display: inline-block;
  text-align: right;
  margin-right: 6px;
}
.acoes > div > span b{
  background: #000;
  font-size: 20px;
  height: 10px;
  width: 10px;
  margin-right: 0px;
  margin-top: 5px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  display: inline-block;
  float: left;
}
.seg-title {
  font-size:20px;
  color:#FFF;
  margin-top:60px;
}
.seg-desc {
  font-size:15px;
  color:#FFF;
  padding:30px;
  margin-top:-30px;
}
.home-desc {
  font-size:15px;
  color:#FFF;
  padding:30px;
  margin-top:-20px;
}
.img-ajuda-seguranca {
  padding-top:30px;
}
.footer-ajuda {
  padding:25px;
  background-color:#3c9bae;
}
.footer-ajuda > p {
  text-align:center;
  font-size:15px;
  color:#fff;
  margin-top:25px;
}
.contrato-content {
  padding:30px;
}
.contrato-content > p {
  color: rgba(255, 255, 255, 0.541);
  font-size:13px;
  padding-top:15px;
}
.contrato-content > p + p{
 color: rgb(255, 255, 255);
  font-size:12px;
}
.topo-menu-altura {
  padding-top:10px;
}
.menu-box {
  padding:40px;
  margin: 0;
  /*background-color:#d6d6d6;*/
  background-image: linear-gradient(to top, #FBFBFB, #D6D6D6);
  margin-top: -2px;
}
.link-menu-style {
  color: #727272;
  font-size:13px;
  text-decoration: none;
}
.menu-principal {
  background: url(../img/bg-menu.png) no-repeat;
  background-size:cover;

}
.menu-principal > div > img {
  position:relative;left:21px;
}
.menu-principal > div > span {
  position:absolute;
  left:102px;
  font-size:9px;
  color:#fff;
}
.menu-principal-perfil {
  text-align:center;
  margin-top:-110px;
}
.menu-principal-perfil > p{
  margin:2px;
}
.menu-principal-perfil > p > span {
  font-size:50px;
  text-align:center;
  color:#fff;
  font-weight:300;
}
.menu-principal-perfil > p > span + span {
  font-size:20px;
  text-align:center;
  color:#fff;
}
#perfil-respondido {
  font-size:15px !important;
  text-align:center;
  color:#fff;
  font-weight: 400;
}
#perfil-email {
  font-size:13px;
  text-align:center;
  color:#fff;
  font-weight: 400;
}
.btn-home {
  padding:30px;
  margin-top:-40px;
}
.home-principal-div {
  text-align:center;
  background:url('../img/bg-div-home.png') no-repeat;
  width:auto;
  background-size: cover;
  height: 115px;
}
.home-icons {
  position: absolute;
  top: 7px;
  left: 79%;
  z-index: 999;
}
.home-icons a{
  position: absolute;
  z-index: 999;
}

.home-titlex {
  font-size:15px;
  color:#fff;
  padding-top:70px;
}

.periodo div{
  background: #7aaed2;
  color: white;
  padding: 10px 20px;
  margin-right: 1px;
  width: 33%;
  font-size: 11px;
  text-align: center;
}
.periodoactive {
  background: #60C750 !important;
}
.periodo div:last-child{
  margin-right: 0px;
}
.periodo{
  padding: 0px;
}
.head-box.programado > div:nth-child(1){
  background-color: #7aaed2;
  background-image: none;
  padding: 10px 10px 2px;
  margin-top: 45px;
  margin-bottom: 15px;
}
.head-box.programado {
  margin-bottom: 16px;
}
.platform-ios .popover {
  border-radius:0px !important;
}
.platform-ios .popover-arrow {
  color-color: #91bed9;
  display:block;
  left:248px !important;
  background: url('../img/popover-arrow.png') no-repeat;
  box-shadow: 4.95px 4.95px 4px 0px rgba(0, 0, 0, 0.21);
}
.popover-style {
  background-color: rgb(145, 190, 217);
  width:273px;
  height:400px;
  top: 76px !important;
  left: 20px !important;
  box-shadow: 4.95px 4.95px 4px 0px rgba(0, 0, 0, 0.21) !important;
}
.popover-slide-box {
  height:385px;

}
#pin{
  margin: 80px auto 40px;
  background: url('../img/pin-vazio.png') no-repeat;
  height:13px;
  width:82px;
  padding:0;
}
#pin > div{
  background: url('../img/pin-cheio.png') no-repeat;
  height:13px;
  width:82px;
}
.tecladospan{
  display: block;
  margin-top: -7px;
}
.chartbox .periodo {
  padding: 0px;
  bottom: 41px;
  z-index: 99;
  position: absolute;
  margin: 0 10px;
}
.chartbox .periodo div {
  background: rgba(250, 250, 250, 0.09);
  color: white;
  padding: 10px 10px;
  margin-right: 1px;
  width: 18%;
  font-size: 11px;
  text-align: center;
}
.chartbox .periodo.unidade div {
  width: 31%;
}
.performancepage .slider-pager {
  bottom: 15px;
}
.performancepage .periodoactive {
  background: rgba(250, 250, 250, 0.4) !important;
}
.performancepage .chartbox {
  height: 100% !important;
}
body > ion-nav-view > ion-side-menus > ion-side-menu-content > ion-nav-bar > div:nth-child(3) > ion-header-bar {
  background: transparent;
}
.saldo .tabs-dark > .tabs {
  background-image: none;
}
